{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Registrar Entrada{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/select2.css' %}">

<div class="row">
  <div class="cols">
    <h1 class="text-body-secondary text-center mb-3">Registrar Entradas</h1>
  <div class="row" style="margin-bottom: 1rem;">
    <div class='col-md-6'>
      <a href="{% url 'inflow_list' %}" class='btn btn-danger btn-lg'>
        <i class="bi bi-backspace space_from_margin"></i>
        Voltar
      </a>
    </div>
  </div>
  {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
  {% endif %}

      <!-- O FORMULÁRIO COMEÇA AQUI -->
      <form method="POST" autocomplete="off" novalidate>
        {% csrf_token %}

        <!-- Formulário Superior -->
        <div class="row justify-content-center">

          <div class="col-md-4">
            <div class="form-group">
              {{ form.fornecedor|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.valor_total|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.nf_entrada|as_crispy_field }}
            </div>
            <div class="form-group">
              {{ form.categoria|as_crispy_field }}
            </div>

          </div>

          <div class="col-md-4">
            <div class="form-group">
                {{ form.dt_recebimento|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.tipo_entrada|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.coordenada|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.obs|as_crispy_field }}
            </div>
          </div>

        </div>

        <!-- Formulários Formset -->
        <legend style="border-bottom: 1px solid #e5e5e5;">Produtos</legend>
        <div class="row">
          <div class="row mb-3">
            <div id="entradas" class="row" data-form-count="1">
              {{ formset.management_form }}
              {% for item_estoque_form in formset %}
                <div id="item-{{ forloop.counter0 }}" class="row line-to-remove">
                  <div class="col">
                    {{ item_estoque_form.produto|as_crispy_field }}
                  </div>
                  <div class="col-2">
                    {{ item_estoque_form.quantidade|as_crispy_field }}
                  </div>
                  <div class="col-1">
                    {{ item_estoque_form.largura|as_crispy_field }}
                  </div>
                  <div class="col-1">
                    {{ item_estoque_form.comprimento|as_crispy_field }}
                  </div>
                  <div class="col-2">
                    {{ item_estoque_form.valor_unitario|as_crispy_field }}
                  </div>
                  <div class="col-1">
                    {{ item_estoque_form.lote|as_crispy_field }}
                  </div>
                  <div class="col-1 text-end">
                    <a href="#" class="btn btn-danger btn-lg btn-plus  remove-form-btn">
                      <i class="bi bi-trash"></i>
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- Botão de adicionar item -->
        <a class="btn btn-secondary btn-lg" id="add-item">
          <i class="bi bi-plus-lg"></i>
          Adicionar Item
        </a>

        <!-- Botão de salvar -->
        <div class="row float-end">
          <div class="col-sm-12" style="margin-top: 10px;">
            <div class="form-inline buttons">
              <button class="btn btn-primary" value="Save">
                <i class="bi bi-floppy-o"></i>
                Salvar
              </button>
            </div>
          </div>
        </div>

      </form>
      <!-- O FORMULÁRIO TERMINA AQUI -->

    </div>
  </div>

  <!-- Script que gera novos formulários -->
  <script type="text/html" id="item-entrada">
    <div id="item-__prefix__" class="row line-to-remove">
      <div class="col">
        {{ formset.empty_form.produto|as_crispy_field }}
      </div>
      <div class="col-2">
        {{ formset.empty_form.quantidade|as_crispy_field }}
      </div>
      <div class="col-1">
        {{ formset.empty_form.largura|as_crispy_field }}
      </div>
      <div class="col-1">
        {{ formset.empty_form.comprimento|as_crispy_field }}
      </div>
      <div class="col-2">
        {{ formset.empty_form.valor_unitario|as_crispy_field }}
      </div>
      <div class="col-1">
        {{ formset.empty_form.lote|as_crispy_field }}
      </div>
      <div class="col-1 text-end">
        <a href="#" class="btn btn-danger btn-lg btn-plus remove-form-btn">
          <i class="bi bi-trash"></i>
        </a>
      </div>
    </div>
  </script>

{% endblock content %}

{% block extra_scripts %}
<script src="{% static 'js/select2.min.js' %}"></script>


 <script>
  /********** 1- Verifica quantos formulários foram renderizados **********/
  /********** 2- Adiciona um novo formulário ******************************/
  /********** 3- Atualiza o total de formulários de items *****************/

  $(document).ready( () => {
    // Função de // Função de correspondência personalizada
    function matchCustom(params, data) {
      // If there are no search terms, return all of the data
      if ($.trim(params.term) === '') {
        return data;
      }

      // Do not display the item if there is no 'text' property
      if (typeof data.text === 'undefined') {
        return null;
      }

      var searchTerm = $.trim(params.term).toUpperCase();
      var dataText = data.text.toUpperCase();
      // `params.term` should be the term that is used for searching
      // `data.text` is the text that is displayed for the data object
      if (data.text.indexOf(params.term) > -1) {
        var modifiedData = $.extend({}, data, true);

        // You can return modified objects from here
        // This includes matching the `children` how you want in nested data sets
        return modifiedData;
      }

      // Return `null` if the term should not be displayed
      return null;
    }

    // Inicializa o Select2 com a função de correspondência personalizada
    $("#id_fornecedor, #id_inflow_items-0-produto").select2({
      matcher: matchCustom
    });

    // Função para carregar produtos baseado na categoria selecionada
    const loadProductsForCategory = (categoryId, target) => {
      if(categoryId){
        $.ajax({
          url: '{% url "get_products_by_category" %}',
          data: {
            'category_id': categoryId
          },
          success: function(data) {
            $(target).empty();
            $.each(data, function(index, item){
              $(target).append($('<option>', {
                value: item.id,
                text: item.nome_produto
              }));
            });
          }
        });
      }
    }

    $('#id_categoria').change(function () {
      let category_id = $(this).val();

      // Aplica aos produtos dos formsets existentes
      $("select[id$='-produto']").each(function () {
        loadProductsForCategory(category_id, $(this)); // Aqui corrigimos o escopo de `this`
        reapplySelect2AndProductLoader();
      });
    });

    // Reaplica lógica ao adicionar novos formulários
    const reapplySelect2AndProductLoader = () => {
      let categoryId = $("#id_categoria").val();

      // Itera sobre todos os selects de produto
      $("select[id$='-produto']").each(function() {
        let selectId = $(this).attr('id'); // Obtém o ID do campo select atual

        // Adiciona ou reaplica Select2
        $(`#${selectId}`).select2({
          matcher: matchCustom
        });

        // Carrega os produtos para o campo atual com base na categoria selecionada
        loadProductsForCategory(categoryId, `#${selectId}`);
      });
    };



    /************* Adicionar um item ao formset *************/
    $('#add-item').click( (ev) => {
      ev.preventDefault();

      // Obtém número atual de formulários usando atributo data
      let count =  $('#entradas .line-to-remove').length;
      let templateMarkup = $('#item-entrada').html();
      let compiledTemplate = templateMarkup.replace(/__prefix__/g, count);

      // Adiciona o novo formulário ao contêiner
      $("div#entradas").append(compiledTemplate);

      // Atualiza o atributo data como novo número de formulários
      $('#entradas').attr('data-form-count', count);

      // Atualiza o campo com o total de formulários
      $('#id_inflow_items-TOTAL_FORMS').attr('value', count + 1);

      // Scroll automático para ver o novo formulário adicionado
      $('html, body').animate({
        scrollTop: $('#add-item').position().top - 200
      }, 800);

      // Reaplica o Select2 e lógica de produtos para o novo formulário
      reapplySelect2AndProductLoader();
    });
  });

  /************* Remove um item do formset *************/
  $(document).on('click', '.remove-form-btn', function(e) {
    e.preventDefault();

    // Verifica a quantirade de formulários antes de tentar apagar, se houver apenas 1 formulário, não apaga
    let count = $('#entradas .line-to-remove').length;

    if(count == 1) {

      $(this).closest('.line-to-remove').before(
        '<div class="alert alert-danger alert-dismissible fade show" role="alert">Você deve ter ao menos um produto para adicionar. <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
      );
      return;
    }

    // Remove o formulário
    $(this).closest('.line-to-remove').remove();

    // Decrementa a contagem total dos formulários
    $('#id_inflow_items-TOTAL_FORMS').attr('value', count - 1);
    $('#entradas').attr('data-form-count', count);


    // Reorganiza os índices dos formulários restantes
    $('#entradas .line-to-remove').each(function(index) {
      //Atualiza todos os inputs, selects e textareas
      $(this).find('input, select, textarea').each(function() {
          let name = $(this).attr('name');
          let id = $(this).attr('id');
          if (name) {
            let newName = name.replace(/\d+/, index);
            $(this).attr('name', newName);
          }
          if (id) {
            let newId = id.replace(/\d+/, index);
            $(this).attr('id', newId);
          }
      });
    });
  });




</script>
{% endblock %}
