{% extends "base.html" %}

{% block title %} Detalhes da Entrada {{ inflow.id }}{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 class="text-body-secondary text-center mb-3">Detalhes da Entrada {{ inflow.id }}</h1>
    <div class="row" style="margin-bottom: 1rem;">
      <div class='col-md-6'>
        <a href="{% url 'inflow_list' %}" class='btn btn-danger btn-lg'>
          <i class="bi bi-backspace space_from_margin"></i>
          Voltar
        </a>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Itens da Entrada: <strong>{{ inflow.id }}</strong> Nota Fiscal: <strong>{{ inflow.nf_entrada }}</strong>
    </div>
      <div class="card-body text-center">
        <table class="table table-hover  border-secondary-subtle">
          <thead>
            <tr>
              <th>Item</th>
              <th>Produto</th>
              <th>Valor Unitário</th>
              <th>Quantidade</th>
              <th>Lote</th>
              <th>Data de Criação</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for item in inflow_items %}
              <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.produto.nome_produto }}</td>
                <td>R${{ item.valor_unitario|default_if_none:" 0,00" }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.lote|default_if_none:"" }}</td>
                <td>{{ item.dt_criacao|date:'d/m/Y' }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <legend>Observações:</legend>
        <p>{{ inflow.obs|default_if_none:"" }}</p>
      </div>
  </div>

{% endblock content %}