{% load static %}

        <div class="row mb-3">
          <div class='col-md-6'>
            <form method='get' action='{% url "inflow_list" %}'>
              {% csrf_token %}
              <div class='input-group'>
                <input type='text' name='product' class='form-control' placeholder='Produto' value='{{ request.GET.product }}'>
                <button type='submit' class='btn btn-primary'>
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </form>
          </div>

          <div class='col-md-6'>
            <a href="{% url 'inflow_new' %}" class='btn btn-success float-end'>
              <i class="bi bi-plus-lg"></i>
              Adicionar Entrada
            </a>
          </div>
        </div>

        <div class="card">
          <div class="space_from_margin">
              {% include "entrada/lista_entrada.html" %}
          </div>
  </div>