{% load static %}
        <div class="card-header">
            Tipos de Frete cadastrados
        </div>
        <div class='btn-group top-buttons space_from_margin' role="group" aria-label="Grupo de botões">
            <a href="{% url 'add_tipo_frete' %}" class="btn btn-outline-primary">
                <i class="bi bi-plus-lg"></i>
                Adicionar Novo Tipo de frete
            </a>
        </div>
        <div class="space_from_margin">       
            {% comment %} {% include "lista_tipo_frete.html" %} {% endcomment %}
        </div>
         

  