{% load static %}

<div class="table-responsive border-secondary">
  <table class="table table-hover table-bordered border-secondary-subtle">
      <thead>
          <tr>
              <th>Nome</th>
              <th>Unidade</th>
              <th>Prédio</th>
              <th class="action_size_column">Ações</th>
          </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for coordenada in itens_coordenada %}
          <tr>
            <td>{{ coordenada.titulo }}</td>
            <td>{{ coordenada.unidade }}</td>
            <td>{{ coordenada.predio }}</td>
            <td class="action_size_column">
              <div class="btn-group center_content " role="group" aria-label="Basic mixed styles example">
                <!-- Visualizar -->
                {% comment %} <a href="{% url 'detail_transportadora' transportadora.pk %}" class="btn btn-secondary btn-view">
                  <i class="bi bi-eye"></i>
                </a> {% endcomment %}

                <!-- Editar -->
                <a class="btn btn-warning btn-edit" href="{% url 'update_coordenada' coordenada.pk %}" role="button">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <!-- Apagar -->
                <a class="btn btn-danger btn-delete" href="{% url 'delete_coordenada' coordenada.pk %}" role="button">
                  <i class="bi bi-trash3"></i>
                </a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>