{% load static %}
        <div class="card-header">
            Categorias cadastradas
        </div>
        <div class='btn-group top-buttons space_from_margin' role="group" aria-label="Grupo de botões">
            <a href="{% url 'add_categoria' %}" class="btn btn-outline-primary">
                <i class="bi bi-plus-lg"></i>
                Adicionar Nova Categoria
            </a>
        </div>
        <div class="space_from_margin">       
            {% include "categoria/lista_categoria.html" %}
        </div>
        