<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido e Separação Nº 8957</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        .container { max-width: 900px; margin: auto; }
        .table { margin-top: 20px; }
        .client-section { font-size: 0.8rem; margin-bottom: 2rem}
        .alternativa-section { font-size: 0.8rem; }
        .logo_pdf { width: 6rem; }
        .order-separation { margin-bottom: 3rem; }
        .client-info { margin-bottom: 2rem; }
        .tabela {
            font-size: 0.7rem;
            background-color: #fff4e8;
            border-color: #ffffff;

        }
        .table-head { background-color: #ffa435; color: #ffffff;}
        .totais { display: flex; justify-content: flex-end; padding-right:0 }
        .total_strong_width {
            width: 82px;
            text-align:right;
            background-color: #ffffff;
            font-weight: bold;
        }
        .total_value_width { width: 106px; text-align:right; }
        .other-info { font-size: 0.8rem; }
        ul { list-style-type: none; font-size: 0.7rem; }
        ul li::marker { content: "- "; }
        .info-bottom { font-size: 0.8rem; }
        .transp-info { font-size: 0.8rem; border-color: #ffffff }
        .transp-info tr th { background-color: #f8f8f8; }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="logo_pdf" src="../../../core/static/img/alternativa_logo_white_bkg.png">
                <h5 class="order-separation"><strong>Pedido e Separação Nº 8957</strong></h5>
            </div>
            <div class="col">
                <h5 class="text-end"><strong>ALTERNATIVA PRE IMPRESSAO LTDA</strong></h5>
                <section class="text-end alternativa-section">
                    <span class="d-block">CNPJ: 30.323.170/0001-78</span>
                    <span class="d-block">Inscrição Estadual: 708148927119</span>
                    <span class="d-block">Endereço: R JOAQUIM DA SILVA MOREIRA, 116, JARDIM PINHEIROS</span>
                    <span class="d-block">Valinhos - SP - CEP: 13274-310</span>
                    <span class="d-block">Telefone: (19) 3244-5006</span>
                </section>
            </div>
        </div>
        <div class="row">
            <h5 class="client-info"><strong>Informações do Cliente</strong></h5>
            <h6>FLEXUL FLEXOGRAFIA LTDA</h6>
        </div>
        <div class="row">
            <div class="col">
                <section class="text-start client-section">
                    <span class="d-block">CNPJ: 04.984.102/0001-40</span>
                    <span class="d-block">Inscrição Estadual: 254877060</span>
                    <span class="d-block">
                        <strong>Telefone: 47 3274-6600</strong>
                    </span>
                </section>
            </div>
            <div class="col">
                <section class="text-start client-section">
                    <span class="d-block">AVENIDA IZIDIO CARLOS PEIXER, 2529 - ILHA DA FIGUEIRA</span>
                    <span class="d-block">Guaramirim - SC - CEP: 89270000</span>
                    <span class="d-block">
                        <strong>Email: katia@flexul.com.br</strong>
                    </span>
                </section>
            </div>
        </div>

        <div class="row">
            <h5 class=""><strong>Itens do(a) Pedido e Separação</strong></h5>
            <table class="table-sm table-bordered tabela ">
                <thead class="table-head">
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th class="text-end">NCM</th>
                        <th class="text-end">Quantidade</th>
                        <th class="text-end">Unitário</th>
                        <th class="text-end">Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>QPC-01</td>
                        <td>FILME ADES. P/ LAMINACAO 808C - (BRILHO)</td>
                        <td>3919.90.90</td>
                        <td class="text-end">318,00 M2</td>
                        <td class="text-end">1,1200</td>
                        <td class="text-end">356,16</td>
                    </tr>
                    <tr>
                        <td>QPC-01</td>
                        <td>FILME ADES. P/ LAMINACAO 808C - (BRILHO)</td>
                        <td>3919.90.90</td>
                        <td class="text-end">400,00 M2</td>
                        <td class="text-end">1,1200</td>
                        <td class="text-end">448,00</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row">
            <div class="totais">
                <table class="table-sm table-bordered tabela">
                    <tr>
                        <td class="total_strong_width"><strong>Subtotal:</strong> </td>
                        <td class="total_value_width">1.832,32</td>
                    </tr>
                    <tr>
                        <td class="total_strong_width"><strong>IPI:</strong></td>
                        <td class="total_value_width">178,65</td>
                    </tr>
                    <tr>
                        <td class="total_strong_width"><strong>ICMS ST:</strong></td>
                        <td class="total_value_width">0,00</td>
                    </tr>
                    <tr>
                        <td class="total_strong_width"><strong>Total:</strong></td>
                        <td class="total_value_width">2.010,97</td>
                    </tr>

                </table>
            </div>
        </div>

        <div class="row ">
            <div class="col">
                <h5 class=""><strong>Vencimentos </strong>Para 28 dias</h5>
                <table class="table-sm table-bordered tabela">
                    <tr>
                        <td><strong>Parcela:</strong></td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td><strong>Vencimento</strong></td>
                        <td>24/04/2025</td>
                    </tr>
                    <tr>
                        <td><strong>Valor:</strong></td>
                        <td>2.010,97</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row other-info">
            <div class="col mt-4">
                <h5><strong>Outras Informações</strong></h5>
                <span class="d-block"><strong>Pedido e Separação - incluido em: </strong>24/04/2025 às 13:29</span>
                <span class="d-block"><strong>Previsão de Faturamento: </strong>27/-3/2025</span>
                <span class="d-block"><strong>Vendedor: </strong> GABRIEL BENASSI</span>
                <span class="d-block"><strong>N do Pedido do Cliente: </strong>14120</span>
            </div>
        </div>
        <div class="row">
            <div class="col mt-3">
                <p class="info-bottom">INFORMAÇÕES IMPORTANTES:</p>
                <ul>
                    <li>Prazo de atendimento: 72 horas</li>
                    <li>As informações constantes nesta proposta comercial serão utilizadas
                        para a emissão da NF-e e boletos, não sendo possível o cancelamento por qualquer divergência que
                        não tenha sido apontada previamente pelo cliente.</li>
                    <li>A escolha da transportadora fica a critério do comprador, desde que a mesma atenda a cidade de origem do material e não nos responsabilizamos
                        pelo prazo de entrega das mesmas.</li>

                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <h5><strong>Transportador</strong></h5>
            <table class="table-sm table-bordered transp-info">
                <thead>
                    <tr>
                        <th>Transportadora</th>
                        <th>Telefone</th>
                        <th>Frete por Conta</th>
                        <th>Placa do Veículo</th>
                        <th>UF</th>
                        <th>Código ANTT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TRANSLIGUE (CAMPINAS)</td>
                        <td>(19) 3233-2232</td>
                        <td>Destinatário (FOB)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row mt-4">
            <p class="text-center"><em>Gerado em 24/03/2025 às 13:35:12 por Gabriel Benassi</em></p>
        </div>
    </div>
</body>
</html>
