{% load static %}

<div class="table-responsive border-secondary">
    {% if inventory_list %}
    <table class="table table-hover table-bordered border-secondary-subtle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Produto</th>
                <th>Larg.</th>
                <th>Comp.</th>
                <th>Dt. Recebimento</th>
                <th>Status</th>
                <th>Obs</th>
                <th>Data Alteração</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">

                {% for item in inventory_list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.entrada_items_id.produto.nome_produto }}</td>
                        <td>{{ item.entrada_items_id.produto.largura }}</td>
                        <td>{{ item.entrada_items_id.produto.comprimento }}</td>
                        <td>{{ item.entrada_items_id.entrada.dt_recebimento|date:'d/m/Y' }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.obs|default:"" }}</td>
                        <td>{{ item.dt_modificado|date:'d/m/Y' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
            <p class="no-results">Nenhum item encontrado...</p>
        {% endif %}
</div>