{% load crispy_forms_tags %}
<!-- Modal -->
<div class="modal fade" id="itemsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="itemsModalLabel">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="itemsModalLabel">
                    Adicionar Produto -
                    <strong>
                        <span id="nome_produto"></span>
                    </strong>
                </h1>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id='alertsModal'></div>
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="row mb-3">
                        <div id="pedidos" class="row g-2 d-flex justify-content-center align-items-center" data-form-count="1">
                            <div id="new-item" class="row line-to-remove">
                                <form id='itemForm' method="post">
                                    {% csrf_token %}
                                    <!-- ID da Categoria -->
                                    <input type="hidden" name="hidden_categoria_id" id="hidden_categoria_id" value="">
                                    <input type="hidden" name="hidden_m2" id="hidden_m2_id" value="">

                                    <!-- Primeira linha -->
                                    <div class="row">
                                        <div class="col-md-1">
                                            {{ item_form.item_pedido|as_crispy_field }}
                                        </div>
                                        <div class="col-md-1">
                                            {{ item_form.quantidade|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ item_form.preco|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                            <label for="id_total_preco" class="form-label">
                                                Total Prod.(R$)
                                            </label>
                                            <input type="number" class="number input form-control text-align-right" id="id_total_preco" disabled="true">
                                        </div>
                                        <div class="col-md-2 metric_field">
                                            {{ item_form.largura|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2 metric_field">
                                            {{ item_form.comprimento|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2 metric_field">
                                            <label for="id_m2" class="form-label">
                                                m² total
                                            </label>
                                            <input type="number" class="number input form-control" id="id_m2" disabled="true">
                                        </div>
                                    </div>

                                <!-- Segunda linha -->
                                {% comment %} <div class="col"> {% endcomment %}
                                    <div class="row">
                                        <div class="col">
                                            {{ item_form.cnpj_faturamento|as_crispy_field}}
                                        </div>
                                        <div class="col">
                                            {{ item_form.conta_corrente|as_crispy_field}}
                                        </div>

                                        <div class="col">
                                            {{ item_form.prazo|as_crispy_field }}
                                        </div>
                                        <div class="col ">
                                            {{ item_form.numero_pedido|as_crispy_field }}
                                        </div>
                                        <div class="col">
                                            {{ item_form.vendedor_item|as_crispy_field }}
                                        </div>
                                    </div>
                                    {% comment %} </div> {% endcomment %}
                                    <!-- Terceira linha -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ item_form.taxa_frete_item|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ item_form.tipo_frete|as_crispy_field}}
                                        </div>
                                        <div class="col">
                                            {{ item_form.dados_adicionais_item|as_crispy_field }}
                                        </div>
                                        <div class="col">
                                            {{ item_form.obs|as_crispy_field }}
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id='modal-footer-add-items'>
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Fechar</button>
                <button type="button" id="submitBtn" class="btn btn-primary" onclick="addProduct()">Adicionar</button>
            </div>
        </div>
    </div>
</div>