<table class="table text-center">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>CFOP</th>
            <th>Vendedor</th>
        </tr>
    </thead>
    <tbody>
        {% for item in itens_produtos %}
        <tr>
            <td>{{ item.produto.nome_produto }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.preco }}</td>
            <td>{{ item.cfop }}</td>
            <td>{{ item.vendedor_item.nome }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum item adicionado...</td>
        </tr>
        {% endfor %}
    </tbody>
    <div class="container">
        <legend>Total de Produtos: <strong>R$ {{ total_pedido }}</strong> </legend>
        <legend>Quantidade de produtos: <strong>{{ quantidade_total }}</strong>
    </div>
</table>
