<div id='alertsPage'></div>
<table class="table text-center">
    <thead>
        <tr>
            <th>ID Item</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Larg. (mm)</th>
            <th>Comp. (m)</th>
            <th>m2</th>
            <th>Preço Unitário</th>
            <th>Preço Total</th>
            <th>CNPJ Fat.</th>
            {% comment %} <th>Vendedor</th> {% endcomment %}
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="tbody-items">
        {% for item in itens_produtos %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.nome }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.largura|floatformat:0 }}</td>
            <td>{{ item.comprimento|floatformat:0 }}</td>
            <td>{{ item.m_quadrado|floatformat:2 }}</td>
            <td>R${{ item.preco }}</td>
            <td>R${{ item.preco_total|floatformat:2 }}</td>
            <td>{{ item.cnpj_faturamento }}</td>
            {% comment %} <td>{{ item.vendedor_item.nome }}</td> {% endcomment %}
            <td>
                <div class="btn-group center_content " role="group" aria-label="Basic mixed styles example">
                    {% if not item.saida.cod_pedido_omie %}

                        <!-- Editar -->
                        <button type="button" class="btn btn-warning btn-edit btn-sm" id="btn-edit-product" data-id="{{ item.id }}" >
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <!-- Apagar -->
                        <button type="button" id="btn-delete" class="btn btn-sm btn-danger btn-delete" data-id="{{ item.id }}">
                            <i class="bi bi-trash3"></i>
                        </button>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">Nenhum item adicionado...</td>
        </tr>
        {% endfor %}
    </tbody>
    <div class="container">
        <legend>Total de Produtos: <strong>R$ {{ total_pedido|default_if_none:"0,00" }}</strong> </legend>
        <!-- <legend>Quantidade de produtos: <strong>{{ quantidade_total|default_if_none:"0" }}</strong> -->
        <legend>Total do Pedido: <strong>R$ {{ total_geral }}</strong></legend>
    </div>
</table>
