{% extends "base.html" %}

{% block title %} Pedidos {% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class = "text-body-secondary text-center mb-3">Pedidos</h1>

                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="row mb-3">
                        <div class='col-md-4'>
                            <a href="#" class='btn btn-danger float-start'>
                                <i class="bi bi-backspace"></i>
                                Voltar para Lista de Pedidos
                            </a>
                        </div>

                        <div class='col-md-4'>
                            <form method='get' autocomplete="off">

                                <div class='input-group'>
                                    <input type='text' name='search'
                                        class='form-control'
                                        placeholder='Pedido ou Nota Fiscal'
                                        value='{{ request.GET.search }}'
                                    >
                                    <button type='submit' class='btn btn-primary'>
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>


                        <div class='col-md-4'>
                            <a href="{% url 'order_new' %}" class='btn btn-success float-end'>
                                <i class="bi bi-plus-lg"></i>
                                Novo Pedido
                            </a>
                        </div>
                    </div>


                    <div class="card">
                        <div class="space_from_margin">
                            <table class="table table-hover table-bordered border-secondary-subtle">
                                {% if pedidos %}
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>No OMIE</th>
                                            <th>Tipo de Saída</th>
                                            <th>Pedido Interno</th>
                                            <th>Nome Cliente</th>
                                            <th>NF Saída</th>
                                            <th>Transportadora</th>
                                            <th>Previsão de Faturamento</th>
                                            <th>Data Criação</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table table-hover table-bordered border-secondary-subtle">
                                        {% for pedido in pedidos %}
                                            <tr>
                                                <td>{{ pedido.id }}</td>
                                                <td>{{ pedido.cod_omie|default_if_none:'-' }}</td>
                                                <td>{{ pedido.get_tipo_saida_display }}</td>
                                                <td>{{ pedido.pedido_interno_cliente  }}</td>
                                                <td>{{ pedido.cliente  }}</td>
                                                <td>{{ pedido.nf_saida|default_if_none:'-' }}</td>
                                                <td>{{ pedido.transportadora|default_if_none:'-' }}</td>
                                                <td>{{ pedido.dt_previao_faturamento|date:'d/m/Y' }}</td>
                                                <td>{{ pedido.dt_criacao|date:'d/m/Y' }}</td>
                                                <td class="action_size_column">
                                                    <div class="btn-group center_content " role="group" aria-label="Basic mixed styles example">
                                                        <!-- Visualizar detalhes -->
                                                        <a class="btn btn-secondary btn-view" href="{% url 'update_order' pedido.id %}" role="button">
                                                            <i class="bi bi-pencil"></i>
                                                        </a>

                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% else %}
                                        <p class="no-results">Nenhum item encontrado...</p>
                                {% endif %}
                            </table>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>




{% endblock content %}
