{% extends "base.html" %}

{% block title %} Pedidos {% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class = "text-body-secondary text-center mb-3">Dados a serem enviados ao OMIE</h1>

                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="row mb-3">
                        <div class='col-md-4'>
                            <a href="{% url 'update_order' order.pk %}" class='btn btn-danger float-start'>
                                <i class="bi bi-backspace"></i>
                                Voltar para Pedido "{{ order.pk}}"
                            </a>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th colspan="4" scope="col">Cabeçalho</th>
                                </tr>
                                <tr>
                                    <th>Chave</th>
                                    <th>Chave no OMIE</th>
                                    <th>Valor que irá no JSON</th>
                                    <th>Descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td  class="text-center">Código do cliente</td>
                                    <td  class="text-center">codigo_cliente</td>
                                    <td  class="text-center text-danger">{{ order.cliente.pk }}</td>
                                    <td  class="text-center">Cliente: {{ order.cliente.nome_fantasia }}</td>
                                </tr>
                                <tr>
                                    <td  class="text-center">Código do pedido</td>
                                    <td  class="text-center">codigo_pedido_integracao</td>
                                    <td  class="text-center text-danger">{{ order.pk }}</td>
                                    <td  class="text-center">Código do pedido local</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Dt Previsão de Faturamento</td>
                                    <td class="text-center">data_previsao</td>
                                    <td class="text-center text-danger">{{ order.dt_previsao_faturamento|date:'d/m/Y' }}</td>
                                    <td class="text-center">Data de previsão de faturamento</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Prazo</td>
                                    <td class="text-center">codigo_parcela</td>
                                    <td class="text-center">Verificar</td>
                                    <td class="text-center">Código da parcela no OMIE</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th colspan="4" scope="col">Frete</th>
                                </tr>
                                <tr>
                                    <th>Chave</th>
                                    <th>Chave no OMIE</th>
                                    <th>Valor que irá no JSON</th>
                                    <th>Descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">Frete</td>
                                    <td class="text-center">modalidade</td>
                                    <td class="text-center text-danger">{{ order.tipo_frete }}</td>
                                    <td class="text-center">Tipo de frete</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Transportadora</td>
                                    <td class="text-center text-danger">codigo_transportadora</td>
                                    {% if order.transportadora.cod_omie_com != "0" %} <td>{{ order.transportadora.cod_omie_com }}(COM)</td> {% endif %}
                                    {% if order.transportadora.cod_omie_ind != "0" %} <td>{{ order.transportadora.cod_omie_ind }}(IND)</td> {% endif %}
                                    {% if order.transportadora.cod_omie_flx != "0" %} <td>{{ order.transportadora.cod_omie_flx }}(FLX)</td> {% endif %}
                                    {% if order.transportadora.cod_omie_srv != "0" %} <td>{{ order.transportadora.cod_omie_srv }}(SRV)</td> {% endif %}
                                    {% if order.transportadora.cod_omie_mrx != "0" %} <td>{{ order.transportadora.cod_omie_mrx }}(MRX)</td> {% endif %}
                                    {% if order.transportadora.cod_omie_pre != "0" %} <td>{{ order.transportadora.cod_omie_pre }}(PRE)</td> {% endif %}
                                    <td class="text-center">Tipo de TRANSPORTADORA</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mb-3">
                        {% for item in order_itens %}
                            <table class="table table-bordered table-striped caption-top">
                                <caption>Item #{{ item.item_pedido }}</caption>
                                <thead>
                                    <tr>
                                        <th colspan="4" scope="col">Det</th>
                                    </tr>
                                    <tr>
                                        <th>Chave</th>
                                        <th>Chave no OMIE</th>
                                        <th>Valor que irá no JSON</th>
                                        <th>Descrição</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">Código do Item</td>
                                        <td class="text-center">codigo_item_integracao</td>
                                        <td class="text-center text-danger">{{ item.pk }}</td>
                                        <td class="text-center">Código da parcela no OMIE</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Dados Adicionais</td>
                                        <td class="text-center">dados_adicionais_item</td>
                                        <td class="text-center text-danger">{{ item.dados_adicionais_item }}</td>
                                        <td class="text-center">Dados adicionais que vão para NF</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Produto</td>
                                        <td class="text-center">codigo_produto</td>
                                        {% if item.cnpj_faturamento.sigla == "COM" and item.produto.cod_oculto_omie_com != "0" %}
                                            <td class="text-danger">{{ item.produto.cod_oculto_omie_com }}("COM")</td>
                                        {% elif item.cnpj_faturamento.sigla == "IND" and item.produto.cod_oculto_omie_ind != "0" %}
                                            <td class="text-danger">{{ item.produto.cod_oculto_omie_ind }}("IND")</td>
                                        {% elif item.cnpj_faturamento.sigla == "FLX" and item.produto.cod_oculto_omie_flx != "0" %}
                                            <td class="text-danger">{{ item.produto.cod_oculto_omie_flx }}("FLX")</td>
                                        {% elif item.cnpj_faturamento.sigla == "SRV" and item.produto.cod_oculto_omie_srv != "0" %}
                                            <td class="text-danger">{{ item.produto.cod_oculto_omie_srv }}("SRV")</td>
                                        {% elif item.cnpj_faturamento.sigla == "MRX" and item.produto.cod_oculto_omie_mrx != "0" %}
                                            <td class="text-danger">{{ item.produto.cod_oculto_omie_mrx }}("MRX")</td>
                                        {% elif item.cnpj_faturamento.sigla == "PRE" and item.produto.cod_oculto_omie_pre != "0" %}
                                            <td class="text-danger">{{ item.produto.cod_oculto_omie_pre }}("PRE")</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}


                                        <td class="text-center">Código Oculto do OMIE que muda dependendo do APP OMIE a ser usado</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Quantidade</td>
                                        <td class="text-center">quantidade</td>
                                        <td class="text-center text-danger">{{ item.quantidade }}</td>
                                        <td class="text-center">Quantidade do produto</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Preço Unitário</td>
                                        <td class="text-center">valor_unitario</td>
                                        <td class="text-center text-danger">{{ item.preco }}</td>
                                        <td class="text-center">Preço Unitário</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Frete</td>
                                        <td class="text-center">modalidade</td>
                                        <td class="text-center text-danger">{{ item.tipo_frete }}</td>

                                    </tr>
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>

                    {% comment %} <div class="row mb-3">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                        <th>Preço Unitário</th>
                                        <th>Preço Total</th>
                                        <th>Categoria</th>
                                        <th>Vendedor</th>
                                        <th>Largura</th>
                                        <th>Comprimento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order_itens %}
                                        <tr>
                                            <td>{{ item.pk }}</td>
                                            <td>{{ item.produto }}</td>
                                            <td>{{ item.quantidade }}</td>
                                            <td>{{ item.preco }}</td>
                                            <td>{{ item.total_valor|floatformat:2 }}</td>
                                            <td>{{ item.produto.tipo_categoria }}</td>
                                            <td>{{ item.vendedor_item }}</td>
                                            <td>{{ item.largura }}</td>
                                            <td>{{ item.comprimento }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> {% endcomment %}

                </div>
            </div>
        </div>
    </div>

{% endblock content%}