{% extends "base.html" %}

{% block title %} Pedidos {% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class = "text-body-secondary text-center mb-3">Dados a serem enviados ao OMIE</h1>

                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="row mb-3">
                        <div class='col-md-4'>
                            <a href="{% url 'update_order' order.pk %}" class='btn btn-danger float-start'>
                                <i class="bi bi-backspace"></i>
                                Voltar para Pedido "{{ order.pk}}"
                            </a>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th colspan="4" scope="col">Cabeçalho</th>
                                </tr>
                                <tr>
                                    <th>Chave</th>
                                    <th>Chave no OMIE</th>
                                    <th>Valor que irá no JSON</th>
                                    <th>Descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td  class="text-center">Código do cliente</td>
                                    <td  class="text-center">codigo_cliente</td>
                                    <td  class="text-center text-danger">{{ codigo_cliente }}</td>
                                    <td  class="text-center"> Cod. Cliente: {{ order.cliente.nome_fantasia }} no OMIE</td>
                                </tr>
                                <tr>
                                    <td  class="text-center">Código do pedido</td>
                                    <td  class="text-center">codigo_pedido_integracao</td>
                                    <td  class="text-center text-danger">{{ order.pk }}</td>
                                    <td  class="text-center">Código do pedido local</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Dt Previsão de Faturamento</td>
                                    <td class="text-center">data_previsao</td>
                                    <td class="text-center text-danger">{{ order.dt_previsao_faturamento|date:'d/m/Y' }}</td>
                                    <td class="text-center">Data de previsão de faturamento</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Prazo</td>
                                    <td class="text-center">codigo_parcela</td>
                                    <td class="text-center text-danger">{{ prazo }}</td>
                                    <td class="text-center">Código da parcela no OMIE</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Nº Interno cliente</td>
                                    <td class="text-center">pedido_interno_cliente</td>
                                    <td class="text-center text-danger">{{ order.pedido_interno_cliente }}</td>
                                    <td class="text-center">Código interno fornecido pelo cliente</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Vendedor</td>
                                    <td class="text-center">codVend</td>
                                    <td class="text-center text-danger">{{ codigo_vendedor }}</td>
                                    <td class="text-center">Código do vendedor no OMIE</td>
                                </tr>

                                <tr>
                                    <td class="text-center">Quantidade de itens</td>
                                    <td class="text-center">quantidade_itens</td>
                                    <td class="text-center text-danger">{{ quantidade_itens }}</td>
                                    <td class="text-center">Quantidade de itens no pedido (no máximo 2)</td>
                                </tr>

                            </tbody>
                        </table>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th colspan="4" scope="col">Frete</th>
                                </tr>
                                <tr>
                                    <th>Chave</th>
                                    <th>Chave no OMIE</th>
                                    <th>Valor que irá no JSON</th>
                                    <th>Descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">Frete</td>
                                    <td class="text-center">modalidade</td>
                                    <td class="text-center text-danger">{{ order.tipo_frete }}</td>
                                    <td class="text-center">Tipo de frete no OMIE</td>
                                </tr>
                                <tr>
                                    <td class="text-center">Transportadora</td>
                                    <td class="text-center">codigo_transportadora</td>
                                    <td class="text-center text-danger">{{ codigo_transportadora }}</td>
                                    <td class="text-center">Cod da Transportadora no OMIE</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mb-3">
                        {% for item in order_itens %}
                            <table class="table table-bordered table-striped caption-top">
                                <caption>Item #{{ item.indice }} - Categoria: {{ item.produto.tipo_categoria }}</caption>
                                <thead>
                                    <tr>
                                        <th colspan="4" scope="col">Det</th>
                                    </tr>
                                    <tr>
                                        <th>Chave</th>
                                        <th>Chave no OMIE</th>
                                        <th>Valor que irá no JSON</th>
                                        <th class="col-5">Descrição</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">Código do Item</td>
                                        <td class="text-center">codigo_item_integracao</td>
                                        <td class="text-center text-danger">{{ item.pk }}</td>
                                        <td class="text-center">Código da parcela no OMIE</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Dados Adicionais</td>
                                        <td class="text-center">dados_adicionais_item</td>
                                        <td class="text-center text-danger">{{ item.dados_adicionais_item }}</td>
                                        <td class="text-center">Dados adicionais que vão para NF</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Produto</td>
                                        <td class="text-center">codigo_produto</td>
                                            <td class="text-center"><strong class="text-danger">
                                                {% if item.cnpj_faturamento.sigla == "COM" and item.produto.cod_oculto_omie_com != "0" %}
                                                    {{ item.produto.cod_oculto_omie_com }}</strong> ("COM")
                                                {% elif item.cnpj_faturamento.sigla == "IND" and item.produto.cod_oculto_omie_ind != "0" %}
                                                    {{ item.produto.cod_oculto_omie_ind }}</strong> ("IND")
                                                {% elif item.cnpj_faturamento.sigla == "FLX" and item.produto.cod_oculto_omie_flx != "0" %}
                                                    {{ item.produto.cod_oculto_omie_flx }}</strong> ("FLX")
                                                {% elif item.cnpj_faturamento.sigla == "SRV" and item.produto.cod_oculto_omie_srv != "0" %}
                                                    {{ item.produto.cod_oculto_omie_srv }}</strong> ("SRV")
                                                {% elif item.cnpj_faturamento.sigla == "MRX" and item.produto.cod_oculto_omie_mrx != "0" %}
                                                    {{ item.produto.cod_oculto_omie_mrx }}</strong> ("MRX")
                                                {% elif item.cnpj_faturamento.sigla == "PRE" and item.produto.cod_oculto_omie_pre != "0" %}
                                                    {{ item.produto.cod_oculto_omie_pre }}</strong> ("PRE")
                                                {% else %}
                                                    Produto sem Cód OMIE cadastrado para faturamento no CNPJ '{{ item.cnpj_faturamento.sigla }}'</strong>
                                                {% endif %}
                                            </td>

                                        <td class="text-center">Código Oculto do OMIE que muda dependendo do APP OMIE a ser usado</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Quantidade</td>
                                        <td class="text-center">quantidade</td>
                                        <td class="text-center text-danger">
                                            {% for dict_item in item_list %}
                                                {% if dict_item.id == item.id %}
                                                    {% if item.produto.tipo_categoria_id == 3 %}
                                                        {{ dict_item.m_quadrado_total}}
                                                    {% elif item.produto.tipo_categoria_id == 7 %}
                                                        {% if item.cnpj_faturamento.sigla == 'IND' or item.cnpj_faturamento.sigla == 'PRE' %}
                                                            {{ dict_item.m_quadrado_total}}
                                                        {% else %}
                                                            {{ item.quantidade }}
                                                        {% endif %}
                                                    {% else %}
                                                        {{ item.quantidade }}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}

                                        </td>
                                        <td class="text-center text-break">Quantidade do produto. Se Superlam/Nyloflex(IND/PRE), m² total. Se Nyloflex(COM) e outros, unidade</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Preço Unitário</td>
                                        <td class="text-center">valor_unitario</td>
                                        <td class="text-center text-danger">
                                            {% for dict_item in item_list  %}
                                                {% if dict_item.id == item.id %}
                                                    {{ dict_item.preco_unitario|floatformat:2 }}
                                                {% endif %}
                                            {% endfor %}

                                        </td>
                                        <td class="text-center">Preço Unitário</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">N Pedido Compra</td>
                                        <td class="text-center">numero_pedido_compra</td>
                                        <td class="text-center text-danger">{{ item.numero_pedido }}</td>
                                        <td	class="text-center">Número Interno que pode ser informado caso Cliente tenha</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Conta Corrente</td>
                                        <td class="text-center">conta_corrente</td>
                                        <td class="text-center text-danger">{{ item.conta_corrente.nCodCC }}</td>
                                        <td class="text-center">Código da CC cadastrado no OMIE</td>
                                    </tr>

                                </tbody>
                            </table>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content%}