{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Novo Pedido - Items{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/select2.css' %}">

<div class="row" id="panel">
  <div class="cols">
    {% if not order.pk %}
      <h1 class="text-body-secondary text-center mb-3">Novo Pedido</h1>
    {% else %}
      <h1 class="text-body-secondary text-center mb-3">Pedido #{{ order.pk }}</h1>
      <h4 class="text-center">Cliente Cadastrado no OMIE #{{ order.numero_pedido|default_if_none:"" }}</h4>
      <legend class="text-body-seconday text-center">Cliente Cadastrado no OMIE:
        <p>{{ cliente_tags|join:"/" }}</p>
      </legend>

    {% endif %}

    <div class="row" style="margin-bottom: 1rem;">
      <div class='d-flex justify-content-between'>
        <a href="{% url 'order_list' %}" class='btn btn-danger btn-lg'>
          <i class="bi bi-backspace space_from_margin"></i>
          Voltar
        </a>
        <a href="{% url 'order_list' %}" class='btn btn-success btn-lg'>
          <i class="bi bi-arrow-right-square space_from_margin"></i>
          Faturar
        </a>
      </div>
    </div>
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div id='alertsOrder'></div>
    <!-- O FORMULÁRIO COMEÇA AQUI -->
    <form method="POST" autocomplete="off" novalidate id='orderForm'>
      {% csrf_token %}
      <!-- Formulário Superior -->
      <div class="row justify-content-center">
        <div class="col">
          <div class="form-group">
            {{ form.cliente|as_crispy_field }}
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            {{ form.numero_pedido|as_crispy_field }}
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            {{ form.pedido_interno_cliente|as_crispy_field }}
          </div>
        </div>
        <div class='col'>
          <div class="form-group">
              {{ form.dolar_ptax|as_crispy_field }}
          </div>
        </div>
        <div class='col'>
          <div class="form-group">
              {{ form.tipo_frete|as_crispy_field }}
          </div>
        </div>
        <div class='col'>
          <div class="form-group">
              {{ form.dt_previsao_faturamento|as_crispy_field }}
          </div>
        </div>
      </div>
      <div class='row'>

        <div class="col">
          <div class="form-group">
            {{ form.desconto|as_crispy_field }}
          </div>
        </div>

        <div class='col'>
          <div class="form-group">
              {{ form.cod_cenario_fiscal|as_crispy_field }}
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            {{ form.nf_saida|as_crispy_field }}
          </div>
        </div>
        <div class='col'>
          <div class="form-group">
            {{ form.transportadora|as_crispy_field }}
          </div>
        </div>
        <div class='col'>
          <div class="form-group">
            {{ form.vendedor|as_crispy_field }}
          </div>
        </div>
      </div>
      <div class='row'>
        <div class="col">
          <div class="form-group">
            {{ form.dados_adicionais_nf|as_crispy_field }}
          </div>
        </div>
      </div>
    </div>
    <!-- O FORMULÁRIO TERMINA AQUI -->
    </form>
  </div>

    <!-- Botão de adicionar item -->
    <a class="btn btn-secondary btn-lg" id="add-item" data-bs-toggle="modal" data-bs-target="#categoryOrderModal" >
      <i class="bi bi-plus-lg"></i>
      Adicionar Item
    </a>

    <!-- Modal de Categorias -->
{% include "pedidos/_modal_categoria_pedido.html" %}

<!-- Modal de Produtos -->
{% include "pedidos/_modal_produto_pedido.html" %}

<!-- Modal de adição de produtos -->
{% include "pedidos/_modal_item_pedido.html" %}

    <!-- Botão de salvar -->

    {% if not order.pk %}

      <div class="row float-end" id="saveButton">
        <div class="col-sm-12" style="margin-top: 10px;">
          <div class="form-inline buttons">
            <button class="btn btn-primary btn-lg" value="Save">
              <i class="bi bi-floppy-o"></i>
              Salvar
            </button>
          </div>
        </div>
      </div>

    {% else %}

      <div class='row float-end' id="edit">
        <div class="col-md-12" style="margin-top: 10px;">
          <div class="form-inline buttons">
            <button class="btn btn-success btn-lg" value="OMIE" id="sendOMIEButton">
              <i class="bi bi-send-arrow-up"></i>
              Enviar OMIE
            </button>
            <button class="btn btn-warning btn-lg" value="Edit" id="editButton">
              <i class="bi bi-pencil"></i>
              Editar Pedido
            </button>
          </div>
        </div>
      </div>

      <div id="overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 9998;"></div>
        <div id="loading">
          <p>Aguarde...</p>
          <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
        </div>
      </div>

    {% endif %}

  </div>
    <!-- Tabela dinâmica de itens do carrinho -->
    <div class="row" id="dinamic-table">
      {% include "pedidos/_tabela_items.html" %}
    </div>
</div>

<script>

  let categoriaSelect, productSelect, condicao, isValid;

  // Reseta valores no formulário de produtos
  const resetForm = () => {
    $('#itemForm')[0].reset();
    $('#itemForm').find('.is-invalid').removeClass('is-invalid');
    $('#staticBackdrop').modal('hide');
  }

  // Salva produtos no pedido atual
  function adicionar_produto() {

    const getVal = id => $(`#id_${id}`).val() || '';

    // Pega os valores dos campos
    const produto = productSelect;
    const cnpj_faturamento = getVal('cnpj_faturamento');
    const condicao_preco = condicao;
    const prazo = getVal('prazo');
    const quantidade = getVal('quantidade');
    const preco = getVal('preco');
    const conta_corrente = getVal('conta_corrente');
    const itemPedido = getVal('item_pedido');
    const numero_pedido = getVal('numero_pedido');
    const vendedor_item = getVal('vendedor_item');
    const dados_adicionais_item = getVal('dados_adicionais_item');
    const obs = getVal('obs');
    //const cfop = getVal('cfop');

    // Variável para controlar se o formulário é válido
    let isValid = true;

    const validateField = (fieldId, value) => {
      const element = $(`#id_${fieldId}`);
      element.toggleClass('is-invalid', !value);
      if (!value) isValid = false;
    };

    validateField('produto', produto);
    validateField('cnpj_faturamento', cnpj_faturamento);
    validateField('condicao_calculo', condicao_preco);
    validateField('prazo', prazo);
    validateField('quantidade', quantidade);
    validateField('preco', preco);
    validateField('conta_corrente', conta_corrente);
    validateField('item_pedido', itemPedido);

    // Se o formulário for válido, envie os dados via AJAX
    if (isValid) {
        // Aqui você pode fazer a chamada AJAX para enviar o formulário
        $.ajax({
            url: "{% url 'add_product_to_order' order.pk %}",  // URL do servidor
            method: 'POST',
            data: {
              produto: produto,
              cnpj_faturamento: cnpj_faturamento,
              condicao_preco: condicao_preco,
              prazo: prazo,
              quantidade: quantidade,
              preco: preco,
              conta_corrente: conta_corrente,
              item_pedido: itemPedido,
              numero_pedido: numero_pedido,
              vendedor_item: vendedor_item,
              dados_adicionais_item: dados_adicionais_item,
              obs: obs,
              //cfop: cfop,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
              // Sucesso
              let message = "Item adicionado com sucesso!";

              resetForm();
              atualizarTabela({{ order.pk }});
              let alertElement = `
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  ${message}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>`;

              $('#alertsModal').append(alertElement);
            },
            error: function(response) {
              // Erro
              let erro = response.responseJSON.error;
              let alertElement = `
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  ${erro}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>`;

              $('#alertsModal').append(alertElement);
              //alert(`Erro ao adicionar item: ${erro}`);
            }
        });
    }
  }

    // Atualiza a tabela de itens do pedido
    const atualizarTabela = (orderID) => {
      $.ajax({
        url: `/get_itens_pedido/${orderID}/`,
        method: 'GET',
        success: function(response) {
          // Sucesso
          $('#dinamic-table').html(response.html);

        },
        error: function(response) {
          // Erro
          //alert(`Não foi possível atualizar a tabela de itens: ${response.error}`)
          console.log('Erro ao atualizar: ', response);
        }
      });
    }

    const validateField = (fieldId, value) => {
      const element = $(`#id_${fieldId}`);
      element.toggleClass('is-invalid', !value);
      if (!value) isValid = false;
    };



  $(document).ready(function() {
    $('#orderForm :input').prop('disabled', true);

    // 1º Modal
    $('#selectCategoryOrder').click(function(e) {
      e.preventDefault();
      categoriaSelect = $("#id_categoriaSelect").val();
      isValid = true;

      validateField('categoriaSelect', categoriaSelect);

      if(isValid) {
        $.ajax({
          url: "{% url 'product_filter_category' %}",
          method: "GET",
          data: {
            category_id: categoriaSelect
          },
          success: function(data){
            const $productSelect = $("#id_productSelect");
            $("#id_categoriaSelect").removeClass('is-invalid');
            $("#id_categoriaSelect").val('');
            $('#categoryOrderModal').modal('hide');
            $('#productOrderModal').modal('show');
            $productSelect.empty();

            $.each(data.products, function(index, product){
              $productSelect.append(
                $('<option>', {
                  value: product.id,
                  text: product.nome_produto
                })
              );
            });
          },
          error: function(xmr, status,error){
            console.error('Erro ao carregar produtos', error);
          }
        });

      }else{
        alert('Selecione uma categoria!');
      }
    });

    // 2º Modal
    $('#selectProductOrder').click(function(e) {
      e.preventDefault();
      productSelect = $("#id_productSelect").val();
      condicao = $("#id_condicaoSelect").val();
      isValid = true;

      validateField('productSelect', productSelect);
      validateField('condicaoSelect', condicao);
      if(!isValid) {
        e.preventDefault();
      }else{
        $('#productOrderModal').modal('hide');
        $('#staticBackdrop').modal('show');
      }
    });

    atualizarTabela({{ order.pk }})

    // Valores iniciais, usado para verificar o que foi alterado no formulário
    var initialValues = {};

    // Ao clicar no botão Editar
    $('#editButton').click(function(e) {
      e.preventDefault(); // Previne o comportamento padrão do botão

      // Salva os valores iniciais dos campos do formulário
      $('form :input').each(function(){
        const input = $(this);
        initialValues[input.attr('name')] = input.val();

      });

      // Habilita os campos do formulário
      $('form :input').prop('disabled', false);

      // Esconde o botão Editar
      $('#edit').hide();

      // Insere o botão Salvar no mesmo lugar
      var saveButton = `
        <div class='row float-end' id="saveButton">
          <div class="col-md-12" style="margin-top: 10px;">
            <div class="form-inline buttons">
              <button class="btn btn-primary btn-lg" value="Save">
                <i class="bi bi-floppy-o"></i>
                Salvar
              </button>
            </div>
          </div>
        </div>
      `;

      $('#edit').after(saveButton); // Insere o botão Salvar
    });

    // Atualiza os dados ao clicar em `Salvar`
    $(document).on('click', '#saveButton button', function(e){
      e.preventDefault()

      var modifiedData = {};

      // Verifica cada campo e compara com o valor inicial
      $('form :input').each(function(){
        const input = $(this);
        const name = input.attr('name');
        const currentValue = input.val();

        if (initialValues[name] !== currentValue) {
          modifiedData[name] = currentValue;
        }
      });

      // Faz uma requisição AJAX para a view 'edit_pedido' se houver modificações nos valores
      if(Object.keys(modifiedData).length > 0){

        $.ajax({
          type: 'POST',
          url: "{% url 'edit_order' order.pk %}",
          data: {
            ...modifiedData,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          success: function(response) {
              // Exibe mensagem de sucesso ou faz algo com a resposta do servidor
              let message = "Campos alterados com sucesso."

              let alertElement = `
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  ${message}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>`;
              $('#alertsOrder').append(alertElement);

              // Desabilita novamente os campos após salvar
              $('form :input').prop('disabled', true);

              // Esconder o botão Salvar e mostrar o botão Editar novamente
              $('#saveButton').remove();
              $('#edit').show();
              setTimeout( () => location.reload(), 1000);

          },
          error: function(xhr, status, error) {
              // Exibe mensagem de erro caso a requisição falhe
              console.log(`Erro: ${status}: ${error}`);
              alert("Ocorreu um erro ao salvar o pedido.");
          }
        });

      }else{
        let message = "Nenhum campo alterado, nada salvo..."

        let alertElement = `
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            ${message}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>`;
        $('#alertsPage').append(alertElement);
        $('#saveButton').remove();
        $('#edit').show();
      }
  });

  // Botão de apagar item da lista de items
  $(document).on('click', '#btn-delete', function(e){
    const itemID = $(this).data('id');
    const deleteURL = "{% url 'remove_product_from_order' 0 %}".replace("0", itemID);

    $.ajax({
      type: 'POST',
      url: deleteURL,
      data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      success: function(response) {

          let message = response.message;

          let alertElement = `
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              ${message}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>`;
          $('#alertsPage').append(alertElement);
          atualizarTabela({{ order.pk }});
          location.reload();
      },
      error: function(xhr, status, error) {
          alert(`Erro: ${xhr.responseJSON.ERRO || status}`);
      }
    });

  });

  $('.btn-close').on('click', function(){
    resetForm();
  });

  $("#sendOMIEButton").click(function(){
    $('#loading').show();
    $('#overlay').show();

    $.ajax({
      type: 'POST',
      url: "{% url 'create_omie_order' order.pk %}",
      data:{
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      success: function(response){
        console.log(response);
        alert("Enviado com sucesso para o OMIE!")
      },
      error: function(xhr, status, error){
        alert(`Ocorreu um erro: ${xhr.responseJSON.error}!` )
        console.log(xhr);
        console.log(status);
        console.log(error);
      },

    }).always(function(){
      $('#loading').hide();
      $('#overlay').hide();
    });
  });

});


</script>


{% endblock content %}
{% block extra_scripts %}
  <script src="{% static 'js/select2.min.js' %}"></script>
{% endblock %}

