{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Novo Pedido - Items{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/select2.css' %}">

<div class="row" id="panel">
  <div class="cols">
    {% if not order.pk %}
      <h1 class="text-body-secondary text-center mb-3">Novo Pedido</h1>
    {% else %}
      <h1 class="text-body-secondary text-center mb-3">Pedido #{{ order.pk }}</h1>
      {% if order.cod_pedido_omie %}
        <h4 class="text-center">Código Pedido no OMIE #
          <strong>
            {{ order.num_pedido_omie|default_if_none:"" }}</h4>
          </strong>

      {% endif %}
      <legend class="text-body-seconday text-center">Cliente Cadastrado no OMIE:
        <p>{{ cliente_tags|join:"/" }}</p>
      </legend>

    {% endif %}

    <div class="row" style="margin-bottom: 1rem;">
      <div class='d-flex justify-content-between'>
        <a href="{% url 'order_list' %}" class='btn btn-danger btn-lg'>
          <i class="bi bi-backspace space_from_margin"></i>
          Voltar
        </a>
        <a href="{% url 'order_list' %}" class='btn btn-success btn-lg'>
          <i class="bi bi-arrow-right-square space_from_margin"></i>
          Faturar
        </a>
      </div>
    </div>
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div id='alertsOrder'></div>
    <!-- O FORMULÁRIO COMEÇA AQUI -->
    <form method="POST" autocomplete="off" novalidate id='orderForm'>
      {% csrf_token %}
      <!-- Formulário Superior -->
      <div class="row justify-content-center">
        <div class="col">
          <div class="form-group">
            {{ form.cliente|as_crispy_field }}
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            {{ form.num_pedido_omie|as_crispy_field }}
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            {{ form.num_pedido_omie_secundario|as_crispy_field }}
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            {{ form.pedido_interno_cliente|as_crispy_field }}
          </div>
        </div>
        <div class='col'>
          <div class="form-group">
              {{ form.dolar_ptax|as_crispy_field }}
          </div>
        </div>
        <div class='col'>
          <div class="form-group">
              {{ form.tipo_frete|as_crispy_field }}
          </div>
        </div>
      </div>
      <div class='row'>

        <div class='col'>
          <div class="form-group">
              {{ form.dt_previsao_faturamento|as_crispy_field }}
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            {{ form.desconto|as_crispy_field }}
          </div>
        </div>

        <div class='col'>
          <div class="form-group">
              {{ form.cod_cenario_fiscal|as_crispy_field }}
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            {{ form.nf_saida|as_crispy_field }}
          </div>
        </div>
        <div class='col'>
          <div class="form-group">
            {{ form.transportadora|as_crispy_field }}
          </div>
        </div>
        <div class='col'>
          <div class="form-group">
            {{ form.vendedor|as_crispy_field }}
          </div>
        </div>
      </div>
      <div class='row'>
        <div class="col">
          <div class="form-group">
            {{ form.dados_adicionais_nf|as_crispy_field }}
          </div>
        </div>
      </div>
    </div>
    <!-- O FORMULÁRIO TERMINA AQUI -->
    </form>
  </div>

    {% if not order.cod_pedido_omie %}
      <!-- Botão de adicionar item -->
      <a class="btn btn-secondary btn-lg" id="add-item">
        <i class="bi bi-plus-lg"></i>
        Adicionar Item
      </a>
    {% endif %}

    <!-- Modal de Categorias -->
{% include "pedidos/_modal_categoria_pedido.html" %}

<!-- Modal de Produtos -->
{% include "pedidos/_modal_produto_pedido.html" %}

<!-- Modal de adição de produtos -->
{% include "pedidos/_modal_item_pedido.html" %}


    <!-- Botão de salvar -->

    {% if not order.pk %}

      <div class="row float-end" id="saveButton">
        <div class="col-sm-12" style="margin-top: 10px;">
          <div class="form-inline buttons">
            <button class="btn btn-primary btn-lg" value="Save">
              <i class="bi bi-floppy-o"></i>
              Salvar
            </button>
          </div>
        </div>
      </div>

    {% else %}

    {% if not order.cod_pedido_omie %}
      <div class='row float-end' id="edit">
        <div class="col-md-12" style="margin-top: 10px;">
          <div class="form-inline buttons">
            <button class="btn btn-success btn-lg"
              value="OMIE" id="sendOMIEButton"
              onclick="location.href='{% url 'order_summary' order.pk %}'">
              <i class="bi bi-send-arrow-up"></i>
              Enviar OMIE
            </button>
            <button class="btn btn-warning btn-lg" value="Edit" id="editButton">
              <i class="bi bi-pencil"></i>
              Editar Pedido
            </button>

          </div>
        </div>
      </div>
    {% endif %}

      <div id="overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 9998;"></div>
        <div id="loading">
          <p>Aguarde...</p>
          <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
        </div>
      </div>

    {% endif %}

  </div>
    <!-- Tabela dinâmica de itens do carrinho -->
    <div class="row" id="dinamic-table">
      {% include "pedidos/_tabela_items.html" %}
    </div>
</div>

<script>
/* ######################################################## SCRIPTS ########################################################### */

// Variáveis globais
let categoriaSelect, productSelect, condicao, isValid, listaCategoriasMetragem = [3, 4];
const maxItems = 2 ;

function selectOptionByText(selectId, optionText){
  /**
  * Seleciona uma opção de um <select> com base no texto da opção
  * @param {string} selectId - ID do <select>
  * @param {string} optionText - Texto da opção a ser selecionada

  */
  const select = $(selectId);
  if(!select){
    console.error(`Elemento com ID ${selectId} não encontrado!`);
    return;
  }

  const matchingOption = select.find("option").filter(function () {
    return $(this).text().trim() === optionText;
  });

  if (matchingOption.length) {
    select.val(matchingOption.val()).change();
  }
  else{
    console.error(`Opção com texto ${optionText} não encontrada no select com id ${selectId}`);
  }
}

const resetForm = () => {
  // Reinicia o formulário de adição de produtos
  $('#itemForm')[0].reset();
  $('#itemForm').find('.is-invalid').removeClass('is-invalid');
  $('#staticBackdrop').modal('hide');
}

const atualizarTabela = (orderID) => {
  /**
    Atualiza a lista de itens de produto no pedido
    @param {int} orderID - ID do pedido como parâmetro
  */
  $.ajax({
    url: `/get_itens_pedido/${orderID}/`,
    method: 'GET',
    success: function(response) {
      // Sucesso
      $('#dinamic-table').html(response.html);

    },
    error: function(response) {
      // Erro
      //alert(`Não foi possível atualizar a tabela de itens: ${response.error}`)
      console.log('Erro ao atualizar: ', response);
    }
  });
}

const validateField = (fieldId, value) => {
  /**
  Valida os campos do formulário de adição de produtos
  @param {int} fieldId -  ID do campo a ser validado
  @param {string} - valor do campo a ser validado
  */
  const element = $(`#id_${fieldId}`);
  element.toggleClass('is-invalid', !value);
  if (!value) isValid = false;
};


function adicionar_produto() {
  // Salva produtos no pedido atual

  const getVal = id => $(`#id_${id}`).val() || '';

  // Pega os valores dos campos
  const produto = productSelect;
  const cnpj_faturamento = getVal('cnpj_faturamento');
  const condicao_preco = condicao;
  const prazo = getVal('prazo');
  const quantidade = getVal('quantidade');
  const preco = getVal('preco');
  const conta_corrente = getVal('conta_corrente');
  const largura = getVal('largura');
  const comprimento = getVal('comprimento');
  const itemPedido = getVal('item_pedido');
  const proximo_pedido = getVal('proximo_pedido');
  const num_pedido_omie = getVal('num_pedido_omie');
  const vendedor_item = getVal('vendedor_item');
  const dados_adicionais_item = getVal('dados_adicionais_item');
  const obs = getVal('obs');
  //const cfop = getVal('cfop');

  // Variável para controlar se o formulário é válido
  let isValid = true;

  const validateField = (fieldId, value) => {
    const element = $(`#id_${fieldId}`);
    element.toggleClass('is-invalid', !value);
    if (!value) isValid = false;
  };

  validateField('produto', produto);
  validateField('cnpj_faturamento', cnpj_faturamento);
  validateField('condicao_calculo', condicao_preco);
  validateField('prazo', prazo);
  validateField('quantidade', quantidade);
  validateField('preco', preco);
  validateField('conta_corrente', conta_corrente);
  validateField('item_pedido', itemPedido);

    // Se o formulário for válido, envie os dados via AJAX
  if (isValid) {
      // Aqui você pode fazer a chamada AJAX para enviar o formulário
      $.ajax({
          url: "{% url 'add_product_to_order' order.pk %}",  // URL do servidor
          method: 'POST',
          data: {
            produto: produto,
            cnpj_faturamento: cnpj_faturamento,
            condicao_preco: condicao_preco,
            prazo: prazo,
            quantidade: quantidade,
            preco: preco,
            largura: largura,
            comprimento: comprimento,
            conta_corrente: conta_corrente,
            item_pedido: itemPedido,
            num_pedido_omie: num_pedido_omie,
            vendedor_item: vendedor_item,
            categoria: categoriaSelect,
            dados_adicionais_item: dados_adicionais_item,
            obs: obs,
            //cfop: cfop,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(response) {
            // Sucesso
            let message = "Item adicionado com sucesso!";

            resetForm();
            atualizarTabela({{ order.pk }});
            let alertElement = `
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                ${message}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>`;

            $('#alertsPage').append(alertElement);
            location.reload();

          },
          error: function(response) {
            // Erro
            let erro = response.responseJSON.error;
            let alertElement = `
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                ${erro}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>`;

            $('#alertsModal').append(alertElement);
            //alert(`Erro ao adicionar item: ${erro}`);
            console.log(response);
          }
      });
  }

}

function atualizar_produto() {
  /**
    Atualiza um produto no pedido atual
    Invocada ao clicar no botão `Salvar` no modal de adição de produtos
  */

  const titleTextModal = $("#staticBackdropLabel").text();
  const match = titleTextModal.match(/#(\d+)/);
  if (match) {
    const itemId = match[1];
    const itemForm = $("#itemForm");
    $.ajax({
        url: `/pedidos/${itemId}/editar/`, // URL da view
        type: "POST",
        data: itemForm.serialize(), // Serializa os dados do formulário
        headers: {
            "X-CSRFToken": $("input[name='csrfmiddlewaretoken']").val(), // CSRF token
        },
        success: function (response) {
            // Exibe mensagem de sucesso
            let message = "Item atualizado com sucesso!";
            $("#alertsPage").html(
              `<div class="alert alert-success alert-dismissible fade show" role="alert">
                ${message}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>`
            );
            console.log("Dados atualizados:", response);
            $("#editItemModal").modal("hide"); // Fecha o modal
            location.reload();
        },
        error: function (xhr) {
            // Exibe os erros retornados
            const errors = xhr.responseJSON.errors;
            let errorHtml = "<ul>";
            for (const [field, messages] of Object.entries(errors)) {
                errorHtml += `<li>${field}: ${messages.join(", ")}</li>`;
            }
            errorHtml += "</ul>";

            $("#alertsModal").html(
                `<div class="alert alert-danger">${xhr.responseJSON.message}<br>${errorHtml}</div>`
            );
        },
    });
  }
}

function calcularProduto(categoriaSelect, valores, nome_produto, metragem_inicial){
  /**
   * Calcula área e valor do produto
   * @param {int} categoriaSelect - Categoria do produto
   * @param {object} valores - Objeto com os valores do produto
   * @param {string} nome_produto - Nome do produto
   * @return {object} area_metragem, total_valor e dados_descritivo
   */
  let [quantidade, largura, comprimento, preco, id_cnpj_faturamento] = valores;
  quantidade = parseInt(quantidade);

  // Validação inicial/
  /*
  if(!valores.every(valor => valor > 0)){
    return {
      area_metragem: 0,
      total_valor: 0,
      dados_descritivo: ''
    };
  }
  */

  const formatarDescricao = (quantidade, unidade, parte1, parte2 = '') => {
    /**
    Formatar uma descrição com base em parâmetros fornecidos, ajustando a quantidade para sempre ter dois dígitos,
    concatenando a unidade de medida e combinando partes descritivas opcionais
    @param {number} quantidade - quantidadede do produto, prefixada em `0` se for menor que 10
    @param {string} unidade - unidade de medida do produto, aqui será `rolo` ou `chapa`
    @param {string} parte1 - A primeira parte da descrição que será concatenada após a unidade.
    @param {string} parte2 [parte2 = ''] - A segunda parte da descrição que será concatenada após um `x`.
    @return {string} descrição formatada com base nos parâmetros fornecidos
    */
    const qtd = quantidade < 10 ? `0${quantidade}` : `${quantidade}`;
    return parte2
      ? `${qtd} ${unidade} ${parte1} x ${parte2}`
      : `${qtd} ${unidade} ${parte1}x${parte2}`;
  };

  // Cálculos por categoria
  switch(parseInt(categoriaSelect)){
    case 3: // Rolos(SuperLam)
      return {
        area_metragem: (largura * comprimento / 1000),
        total_valor: quantidade * preco * (largura * comprimento / 1000),
        dados_descritivo: formatarDescricao(
          quantidade,
          'rolo(s)',
          largura,
          comprimento
        )
      };
    case 7: // Chapas

      const app_omie = [2, 5];
      // Verifica se é IND, PRE ou COM
      if(app_omie.includes(id_cnpj_faturamento)){

      }
      return {
        area_metragem: quantidade * metragem_inicial,
        total_valor: quantidade * preco,

        dados_descritivo: formatarDescricao(
          quantidade,
          'chapa(s)',
          nome_produto,
          'Revenda'
        )
      };
    default: // Outros produtos
      return {
        area_metragem: largura * comprimento,
        total_valor: quantidade * preco * (largura * comprimento),
        dados_descritivo: ''
      };

  }

}

$(document).ready(function() {
  /**
    Funções iniciadas ao carregar a página
  */

  $('#add-item').on('click', function(){
    // Abre modal de categoria para inicial adição de itens
    const lista_items = $('#tbody-items');
    const qtd_items = lista_items.children().length;
    const categoryModal = new bootstrap.Modal('#categoryOrderModal');
    categoryModal.show();
    $(this).removeClass('disabled');

    // Desabilita o botão `Adicionar Item` caso a quantidade de items já cadastrados seja igual a que 2
    /*
    if(qtd_items == 2){
      $(this).addClass('disabled');
      let erro = "Não é possível adicionar mais de 2 itens na mesma ordem.";
      let alertElement = `
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        ${erro}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>`;
      $('#alertsPage').append(alertElement);
    }else{
    }*/
  });


  function calculoMetragemProduto(){
    /**
      Calcula metragem no modal de adição de produtos dependendo da cartegoria
      SuperLam seguindo a fórmula:
      SE(qtd, largura e comprimento > 0 então metragem = l * c * q / 1000)
    */
    const $quantidade = $('#id_quantidade');
    const $largura = $('#id_largura');
    const $comprimento = $('#id_comprimento');
    const $preco = $('#id_preco');
    const $metragem = $('#id_m2');
    const $total = $('#id_total_preco');
    const $id_cnpj_faturamento = $('#id_cnpj_faturamento');
    const $inputs = [
      $quantidade,
      $largura,
      $comprimento,
      $preco,
      $id_cnpj_faturamento
    ];
    const $requiredInputs = [$quantidade, $largura, $comprimento, $preco];

    const metragem_inicial = parseFloat($metragem.val()) || 0;

    $inputs.forEach(input => {
      input.on('change', function(){


        // Obtém os valores dos campos obrigatórios
        const requiredValues = $requiredInputs.map(i => {
          const value = parseFloat(i.val());
          return !isNaN(value) && value > 0 ? value : null;
        });


        // Verifica se todos os calores são diferentes de 0
        const allValid = requiredValues.every(value => value !== null);

        if(!allValid){
          console.log('INVALIDO');
          return;
        }
        // Obtém todos os valores (inclusive os opcionais, como metragem)
        const valores = $inputs.map(i => parseFloat(i.val()) || 0);

        // Executa o calculo
        const resultado = calcularProduto(
          parseInt(categoriaSelect),
          valores,
          nome_produto,
          metragem_inicial
        );

        //console.log(resultado);
        // Atualiza campos do form
        $("#id_dados_adicionais_item").val(resultado.dados_descritivo);
        $("#id_obs").val(resultado.dados_descritivo);
        $total.val(resultado.total_valor.toFixed(2));
        $metragem.val(resultado.area_metragem.toFixed(2));

      });
    });
  }


  // Remove os dados de um formulário ao clicar no botão `X` do modal
  $('.btn-close').on('click', function(){
    resetForm();
  });

  // Desabilita todos os campos do formulário
  $('#orderForm :input').prop('disabled', true);

  // Executa requisição AJAX para filtrar os produtos por categoria
  $('#selectCategoryOrder').click(function(e) {
    e.preventDefault();
    categoriaSelect = $("#id_categoriaSelect").val();
    isValid = true;

    validateField('categoriaSelect', categoriaSelect);

    if(isValid) {
      $.ajax({
        url: "{% url 'product_filter_category' %}",
        method: "GET",
        data: {
          category_id: categoriaSelect
        },
        success: function(data){
          const $productSelect = $("#id_productSelect");
          $("#id_categoriaSelect").removeClass('is-invalid');
          $("#id_categoriaSelect").val('');
          $('#categoryOrderModal').modal('hide');
          $('#productOrderModal').modal('show');
          $productSelect.empty();

          $.each(data.products, function(index, product){
            $productSelect.append(
              $('<option>', {
                value: product.id,
                text: product.nome_produto
              })
            );
          });
        },
        error: function(xmr, status,error){
          console.error('Erro ao carregar produtos', error);
        }
      });

    }else{
      alert('Selecione uma categoria!');
    }
  });

  // Selecionar qual produto será adicionado com base no filtro anterior de Categorias
  $('#selectProductOrder').click(function(e) {
    e.preventDefault();
    const activeButton = document.getElementById('btn_editar');

    // Ativa o botão `Adicionar` caso o botão `Editar` esteja ativo
    if(activeButton){
      activeButton.id = 'submitBtn';
      activeButton.textContent = 'Adicionar';
      activeButton.setAttribute('onclick', 'adicionar_produto()');
    }

    // Se Categoria for Nyloflex, área é mm x mm
    if(categoriaSelect == 7 || categoriaSelect == 4){
      $('#div_id_comprimento label').html('Comp. (mm)');
    }else{
      $('#div_id_comprimento label').html('Comp. (m)');
    }

    if(categoriaSelect == 3){
      $('#id_largura').prop('disabled', false);
      $('#id_comprimento').prop('disabled', false);
    }else{
      $('#id_comprimento').prop('disabled', true);
      $('#id_largura').prop('disabled', true);
    }

    clientSelect = $("#id_cliente").val();
    productSelect = $("#id_productSelect").val();
    nome_produto = $("#id_productSelect option:selected").text();
    condicao = $("#id_condicaoSelect").val();
    isValid = true;


    validateField('productSelect', productSelect);
    validateField('condicaoSelect', condicao);
    if(!isValid) {
      e.preventDefault();
    }else{
      const url = "{% url 'get_price_data_filter_by_client_product' %}";
      $.ajax({
        type: 'POST',
        url: url,
        data:{
          order_id: {{ order.pk }},
          client_id: {{ order.cliente.id}},
          product_id: productSelect,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
          if(response.success){
            data = response.data;

            // Atualiza o título do modal com o nome do produto
            $('#id_preco').val(data.preco)
            $('#id_conta_corrente').val(data.cc)
            $('#id_cnpj_faturamento').val(data.cnpj_faturamento)
            $('#id_prazo').val(data.prazo);
            $('#id_largura').val(data.largura);
            $('#id_comprimento').val(data.comprimento);
            $('#id_item_pedido').val(data.item_pedido);
            $('#id_vendedor_item').val(data.vendedor);
            parseInt(categoriaSelect) !== 3 ? $('#id_m2').val(data.m2) : '';
            calculoMetragemProduto();
          }
        },
        error: function(xhr, status, error) {
            console.log(xhr.responseJSON);
        }
      });

      $('#productOrderModal').modal('hide');
      $("#nome_produto").html(nome_produto);
      $("#div_id_preco label").append(`/ <b>Condição: ${condicao}</b>`);
      // Verifica se largura/comprimento/Metragem devem ser exibidos

      resetForm();
      $("#div_id_preco label").html('Preço Unit. (R$)')
      $('#staticBackdropLabel').contents().first().replaceWith(`Adicionar Produto - `);
      $('#staticBackdrop').modal('show');

    }
  });

  atualizarTabela({{ order.pk }})

  /*
    Função executada ao clicar no botão `Editar Pedido`
  */
  var initialValues = {};
  $('#editButton').click(function(e) {
    e.preventDefault(); // Previne o comportamento padrão do botão

    // Salva os valores iniciais dos campos do formulário
    $('form :input').each(function(){
      const input = $(this);
      initialValues[input.attr('name')] = input.val();

    });

    // Habilita os campos do formulário
    $('form :input').prop('disabled', false);

    // Esconde o botão Editar
    $('#edit').hide();

    // Insere o botão Salvar no mesmo lugar
    var saveButton = `
      <div class='row float-end' id="saveButton">
        <div class="col-md-12" style="margin-top: 10px;">
          <div class="form-inline buttons">
            <button class="btn btn-primary btn-lg" value="Save">
              <i class="bi bi-floppy-o"></i>
              Salvar
            </button>
          </div>
        </div>
      </div>
    `;

    $('#edit').after(saveButton); // Insere o botão Salvar
  });

   // Atualiza os dados do Pedido ao clicar em `Salvar`
  $(document).on('click', '#saveButton button', function(e){
    e.preventDefault()

    var modifiedData = {};

    // Verifica cada campo e compara com o valor inicial
    $('form :input').each(function(){
      const input = $(this);
      const name = input.attr('name');
      const currentValue = input.val();

      if (initialValues[name] !== currentValue) {
        modifiedData[name] = currentValue;
      }
    });


    // Faz uma requisição AJAX para a view 'edit_pedido' se houver modificações nos valores
    if(Object.keys(modifiedData).length > 0){

      $.ajax({
        type: 'POST',
        url: "{% url 'edit_order' order.pk %}",
        data: {
          ...modifiedData,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(response) {
            // Exibe mensagem de sucesso ou faz algo com a resposta do servidor
            let message = "Campos alterados com sucesso."

            let alertElement = `
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                ${message}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>`;
            $('#alertsOrder').append(alertElement);

            // Desabilita novamente os campos após salvar
            $('form :input').prop('disabled', true);

            // Esconder o botão Salvar e mostrar o botão Editar novamente
            $('#saveButton').remove();
            $('#edit').show();
            setTimeout( () => location.reload(), 1000);

        },
        error: function(xhr, status, error) {
            // Exibe mensagem de erro caso a requisição falhe
            console.log(`Erro: ${status}: ${error}`);
            alert("Ocorreu um erro ao salvar o pedido.");
        }
      });

    }else{
      let message = "Nenhum campo alterado, nada salvo..."

      let alertElement = `
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          ${message}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>`;
      $('#alertsPage').append(alertElement);
      $('#saveButton').remove();
      $('#edit').show();
    }
  });

  // Botão de apagar item da lista de items
  $(document).on('click', '#btn-delete', function(e){
    const itemID = $(this).data('id');
    const deleteURL = "{% url 'remove_product_from_order' 0 %}".replace("0", itemID);

    $.ajax({
      type: 'POST',
      url: deleteURL,
      data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      success: function(response) {

          let message = response.message;

          let alertElement = `
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              ${message}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>`;
          $('#alertsPage').append(alertElement);
          atualizarTabela({{ order.pk }});
          location.reload();
      },
      error: function(xhr, status, error) {
          alert(`Erro: ${xhr.responseJSON.ERRO || status}`);
      }
    });
  });

  // Botão de editar produto da lista de items
  $(document).on('click', '#btn-edit-product', function(e){
    const itemID = $(this).data('id');
    const updateURL = "{% url 'get_item_data' 0 %}".replace("0", itemID);

    $.ajax({
      type: 'GET',
      url: updateURL,
      success: function(response) {

        if(response.success){
          // Atualiza o título do modal com o nome do produto
          const nome_produto = response.data.nome_produto;
          const cnpj = response.data.cnpj_faturamento;
          const prazo = response.data.prazo;
          const conta_corrente = response.data.conta_corrente;
          const vendedor = response.data.vendedor;
          console.log(response.data);
          // Atualiza o título do modal com o nome do produto
          $('#staticBackdropLabel').contents().first().replaceWith(`Editar Produto - #${itemID}: `);

          $('#nome_produto').text(nome_produto);

          quantidade = parseFloat(response.data.quantidade);
          preco =parseFloat(response.data.preco);
          largura = response.data.largura;
          comprimento = response.data.comprimento;
          area_m2 = response.data.area;
          categoria = parseInt(response.data.categoria);

          // Preenche os campos do modal com os dados retornados
          selectOptionByText('#id_cnpj_faturamento', cnpj);
          selectOptionByText('#id_prazo', prazo);
          selectOptionByText('#id_conta_corrente', conta_corrente);
          selectOptionByText('#id_vendedor_item', vendedor);

          $("#id_quantidade").val(quantidade);
          $("#id_preco").val(preco);
          $("#id_total_preco").val(response.data.total_pedido);
          $("#id_largura").val(response.data.largura);
          $("#id_comprimento").val(response.data.comprimento);
          $("#id_m2").val(area_m2)

          $("#id_numero_pedido").val(response.data.numero_pedido);
          $("#id_dados_adicionais_item").val(response.data.dados_adicionais_item);
          $("#id_obs").val(response.data.obs);

          /*
          Altera o button `Adicionar` para `Editar` no modal de edição de produtos
          */
          // Seleciona elemento pai
          const modalFooter = document.getElementById('modal-footer-add-items');

          // Cria o botão novo `Salvar`
          const newButton = document.createElement('button');
          newButton.type = 'button';
          newButton.id = 'btn_editar';
          newButton.className = 'btn btn-primary';
          newButton.textContent = 'Salvar';
          newButton.setAttribute('onclick', 'atualizar_produto()');

          // Seleciona o botão que será substituído
          const oldButton = document.querySelector('#submitBtn');

          // Substitui o botão
          if(oldButton){
            modalFooter.replaceChild(newButton, oldButton);
          }

          // Abre o modal
          $('#staticBackdrop').modal('show');
        }

      },
      error: function(xhr, status, error) {
          alert(`Erro: ${xhr.responseJSON.ERRO || status}`);
      }
    });
  });

  /*
  $("#sendOMIEButton").click(function(){
    $('#loading').show();
    $('#overlay').show();

    $.ajax({
      type: 'POST',
      url: "{% url 'create_omie_order' order.pk %}",
      data:{
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      success: function(response){
        // console.log(response);
        if(response.api_response.error){
          error = response.api_response.error;
          alert(`Foram encontrados erros ao enviar para o OMIE: ${error}`);
        }
        alert("Enviado com sucesso para o OMIE!")
        location.reload();
      },
      error: function(xhr, status, error){
        //alert(`Ocorreu um erro: ${xhr.responseJSON.error}!` )
        console.log(xhr.responseJSON);

      },

    }).always(function(){
      $('#loading').hide();
      $('#overlay').hide();
    });
  });*/
});


</script>


{% endblock content %}
{% block extra_scripts %}
  <script src="{% static 'js/select2.min.js' %}"></script>
{% endblock %}

