{% load crispy_forms_tags %}
<!-- Tabs com os formsets -->
<div class="row" id='groub-tabs'>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="diversos-tab" data-bs-toggle="tab" href="#diversos">DIVERSOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="laminas-tab" data-bs-toggle="tab" href="#laminas">LAMINAS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="maquinas-tab" data-bs-toggle="tab" href="#maquinas">MÁQUINAS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="novos-tab" data-bs-toggle="tab" href="#novos">NOVOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nyloflex-tab" data-bs-toggle="tab" href="#nyloflex">NYLOFLEX</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="qspac-tab" data-bs-toggle="tab" href="#qspac">QSPAC</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="superlam-tab" data-bs-toggle="tab" href="#superlam">SuperLam</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nyloprint-tab" data-bs-toggle="tab" href="#nyloprint">NYLOPRINT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tesa-tab" data-bs-toggle="tab" href="#tesa">Tesa</a>
    </li>
  </ul>

  <div class="tab-content" style='margin-top: 1rem;'>
    <div class="tab-pane fade show active" id="diversos" role="tabpanel" aria-labelledby="diversos-tab">
      {{ diversos_formset.management_form }}
      {% for form in diversos_formset %}
        {% crispy form %}
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="laminas" role="tabpanel" aria-labelledby="laminas-tab">
      {{ laminas_formset.management_form }}
      {% for form in laminas_formset %}
        {% crispy form %}
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="maquinas" role="tabpanel" aria-labelledby="maquinas-tab">
      {{ maquinas_formset.management_form }}
      {% for form in maquinas_formset %}
        {% crispy form %}
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="novos" role="tabpanel" aria-labelledby="novos-tab">
      {{ novos_formset.management_form }}
      {% for form in novos_formset %}
        {% crispy form %}
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="nyloflex" role="tabpanel" aria-labelledby="nyloflex-tab">
      {{ nyloflex_formset.management_form }}
      {% for form in nyloflex_formset %}
        {% crispy form %}
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="qspac" role="tabpanel" aria-labelledby="qspac-tab">
      {{ qspac_formset.management_form }}
      {% for form in qspac_formset %}
        {% crispy form %}
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="superlam" role="tabpanel" aria-labelledby="superlam-tab">
      {{ superlam_formset.management_form }}
      {% for form in superlam_formset %}
        {% crispy form %}
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="nyloprint" role="tabpanel" aria-labelledby="nyloprint-tab">
      {{ nyloprint_formset.management_form }}
      {% for form in nyloprint_formset %}
        {% crispy form %}
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="tesa" role="tabpanel" aria-labelledby="tesa-tab">
      {{ tesa_formset.management_form }}
      {% for form in tesa_formset %}
        {% crispy form %}
      {% endfor %}
    </div>
  </div>
</div>