{% load static %}

<table id="prices-table" class="table table-hover">
  <thead>
    <tr>
      <th>Produto</th>
      <th>Valor</th>
      <th>Dólar?</th>
      <th>Prazo</th>
      <th>CNPJ Faturamento</th>
      <th>Condição de Cálculo</th>
      <th>Vendedor</th>
      <th>Data de Criação</th>
    </tr>
  </thead>
  <tbody class="text-center">
    {% for item in itens_preco %}
      <tr>
        <td>{{ item.produto }}</td>
        <td>{{ item.valor }}</td>
        <td>{{ item.is_dolar|yesno:"S, N" }}</td>
        <td>{{ item.prazo }}</td>
        <td>{{ item.cnpj_faturamento }}</td>
        <td>{{ item.condicao }}</td>
        <td>{{ item.vendedor }}</td>
        <td>{{ item.dt_criacao|date:'d/m/Y' }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>