{% extends "base.html" %}
{% load static %}

{% block title %}Excluir Preço{% endblock %}
{% block content %}
<div id="page-wrapper">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-body-secondary text-center mb-3">Excluir Preço</h1>
            <div class="card">
                <div class="card-header">
                    Excluir Preço
                </div>
                <div class="card-body delete-box">
                    <form method="POST">
                      {% csrf_token %}
                      <p>Tem certeza de que deseja excluir o preço customizado
                        <strong>
                          R$ {{ object.valor }}
                        </strong> do produto
                      </p>
                      <p>
                        <strong>{{ object.produto }}</strong> referente ao cliente
                        <strong>{{ object.cliente }}</strong>?
                      </p>
                      <button type="submit" class="btn btn-danger">Excluir</button>
                      <a href="{% url 'price' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
