{% extends "base.html" %}

{% load static %}

{% block title %}Importar Planilha de Prazos{% endblock %}

{% block content %}
  <div id="page-wrapper">
    <div class="container">
      {% comment %} <div class="row"> {% endcomment %}
        <div class="col-lg-12">
          <h1 class="text-body-secondary text-center mb-3">Importar Prazo</h1>
          {% if messages %}
            <div class="messages">
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  {% comment %} <button type="button" class="btn-close" aria-label="Close"></button> {% endcomment %}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          <div class="card">
            <div class="card-header">
              Importar arquivo Excel da listagem de Prazos
            </div>
            
            {% comment %} Botões de ações {% endcomment %}
            <div class="container card card-conteudo">
              <div class="row  class="input-group mb-3"">
                <form class="row g-3" method="post" enctype="multipart/form-data" id="upload-form">
                  {% csrf_token %}
                  {{ form.as_p }}
              </div>
              <div id="loading">
                <p>Aguarde... Arquivo sendo processado.</p>
                <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
                </div>
              </div>
              </div>
              <div class="container-fluid ">
                <div class="row">
                    <div class="col-auto">
                      <button type="button" class="btn btn-danger" onclick="goBack()">
                        <i class="bi bi-x-lg"></i>
                        Cancelar
                      </button>
                    </div>
                    <div class="col-auto ms-auto">
                      <button type="submit" class="btn btn-primary"">
                        <i class="bi bi-upload"></i>
                        Upload
                      </button>
                    </div>
                  </div>

              </div>
              </form>
            </div>
            {% comment %} Fim Botões de ações {% endcomment %}
            
            {% comment %} Lista items estoque {% endcomment %}
            
            {% comment %} Fim Lista Itens estoque{% endcomment %}
          </div>
        </div>
        
      {% comment %} </div> {% endcomment %}
  </div>
</div>
{% endblock content %}