{% load static %}

<div class="card">

    {% include "estoque/filtros.html" %}

    <div class="row">
        <div class="col-lg-2 d-grid gap-2">
            <button type="button" class="btn btn-secondary btn-actions">
                <i class="bi bi-clipboard"></i>
                Copiar
            </button>
        </div>
        <div class="col-lg-2 d-grid gap-2">
            <button type="button" class="btn btn-secondary btn-actions">
                <i class="bi bi-printer"></i>
                Imprimir
            </button>
        </div>
        <div class="col-lg-2 d-grid gap-2">
            <button type="button" class="btn btn-secondary btn-actions">
                <i class="bi bi-file-earmark-excel"></i>
                Exportar Excel
            </button>
        </div>
        <div class="col-lg-2 d-grid gap-2">
            <button type="button" class="btn btn-secondary btn-actions">
                <i class="bi bi-check2-square"></i>
                Selecionar Colunas
            </button>
        </div>
        <div class="col-lg-4">
            <div class="input-group ">
                <input type="text" class="form-control btn-actions" id="busca_resultados" value="" placeholder="Procurar nos resultados">
            </div>
        </div>
    </div>
    <div class='row'>
        {% include "estoque/lista_estoque.html" %}
    </div>
</div>
