{% load static %}

<div class="table-responsive border-secondary">
    {% if itens_estoque %}
    <table class="table table-hover table-bordered border-secondary-subtle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Qtde.</th>
                <th>Produto</th>
                {% comment %} <th>Transação</th> {% endcomment %}
                <th>Status</th>
                {% comment %} <th>Tipo Saída</th> {% endcomment %}
                {% comment %} <th>m<sup>2</sup></th> {% endcomment %}
                <th>Data Alteração</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">

                {% for item in itens_estoque %}
                    <tr>
                        <td>{{ item.produto_id }}</td>
                        <td>{{ item.saldo }}</td>
                        <td>{{ item.produto.nome_produto }}</td>
                        <td>{{ item.ativo|yesno:"Ativo,Inativo" }}</td>
                        <td>{{ item.dt_modificado }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
            <p class="no-results">Nenhum item encontrado...</p>
        {% endif %}
</div>