{% extends "base.html" %}
{% load static %}

{% block title %}Excluir Lote{% endblock %}
{% block content %}
<div id="page-wrapper">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-body-secondary text-center mb-3">Excluir Lote</h1>
            <div class="card">
                <div class="card-header">
                    Excluir Lote
                </div>
                <div class="card-body delete-box">
                    <form method="POST">
                      <p>Tem certeza de que deseja excluir o Lote "{{ object.nome }}"?</p>
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Excluir</button>
                      <a href="{% url 'lote' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
