{% load static %}

<div class="table-responsive border-secondary">
  <table class="table table-hover table-bordered border-secondary-subtle">
      <thead>
          <tr>
              <th>Código</th>
              <th>Pedido</th>
              <th>Dt. Recebimento</th>
              <th>Tipo</th>
              <th>Container</th>
              <th>NF</th>
              <th class="action_size_column">Ações</th>
          </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for lote in itens_lote %}
          <tr>
            <td>{{ lote.codigo }}</td>
            <td>{{ lote.pedido }}</td>
            <td>{{ lote.data_recebimento }}</td>
            <td>{{ lote.tipo }}</td>
            <td>{{ lote.container }}</td>
            <td>{{ lote.nf }}</td>
            <td class="action_size_column">
              <div class="btn-group center_content " role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-warning btn-edit"  data-lote-id="{{ lote.id }}">
                  <i class="bi bi-pencil-square"></i>
                  Editar
                </button>
                <button type="button" class="btn btn-danger btn-delete" data-lote-id="{{ lote.id }}">
                  <i class="bi bi-trash3"></i>
                  Apagar
                </button>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>