{% load static %}

{% block title %} Proposta Nº {{ order.pk }} {% endblock %}

<link rel="stylesheet" href="{% static 'css/pdf_order_picking_resume.css' %}">

<div class="pdf-row">
    <div class="pdf-col">
        <img class="logo_pdf" src="{% static 'img/alternativa_logo_white_bkg.png' %}">
        <h5 class="order-separation"><strong>Pedido e Separação Nº {{ order.pk }}</strong></h5>
    </div>
    <div class="pdf-col">
        <h5 class="pdf-text-end"><strong>ALTERNATIVA PRE IMPRESSAO LTDA</strong></h5>
        <section class="pdf-text-end alternativa-section">
            <span class="pdf-d-block">CNPJ: 30.323.170/0001-78</span>
            <span class="pdf-d-block">Inscrição Estadual: 708148927119</span>
            <span class="pdf-d-block">Endereço: R JOAQUIM DA SILVA MOREIRA, 116, JARDIM PINHEIROS</span>
            <span class="pdf-d-block">Valinhos - SP - CEP: 13274-310</span>
            <span class="pdf-d-block">Telefone: (19) 3244-5006</span>
        </section>
    </div>
</div>

<div>
    <p>
        <h3 class="pdf-text-center"><strong>Informações do Cliente </strong></h3>
    </p>
    <p>
        <h6>{{ client.nome_fantasia }}</h6>
    </p>
</div>

<div class="pdf-row">
    <div class="pdf-col">
        <section class="pdf-text-start client-section">
            <span class="pdf-d-block">CNPJ: {{ cnpj }}</span>
            <span class="pdf-d-block">Inscrição Estadual: {{ client.inscricao_estadual }}</span>
            <span class="pdf-d-block"><strong>Telefone: {{ client.ddd }} {{ client.telefone }}</strong></span>
        </section>
    </div>
    <div class="pdf-col">
        <section class="pdf-text-end client-section">
            <span class="pdf-d-block">{{ client.endereco }}, {{ client.numero }} - {{ client.bairro }}</span>
            <span class="pdf-d-block">{{ client.cidade}} - {{ client.estado}} - CEP: {{ client.cep }}</span>
            {% comment %} <span class="pdf-d-block"><strong>E-mail: {{ client.email }}</strong></span> {% endcomment %}
        </section>
    </div>
</div>

<div class="pdf-row">
    <h5><strong>Itens do(a) Pedido e Separação</strong></h5>
    <table class="tabela">
        <thead class="table-head">
            <tr>
                <th>Código Produto</th>
                <th>Descrição</th>
                <th class="pdf-text-end">Quantidade</th>
                <th class="pdf-text-end">Unitário</th>
                <th class="pdf-text-end">Valor Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order_itens %}
                <tr>
                    <td>{{ item.item.pk }}</td>
                    <td>{{ item.item.produto.nome_produto }} - {{ item.item.obs }}</td>
                    <td class="pdf-text-end">
                        {% if item.item.produto.tipo_categoria.id == 3 or item.item.produto.tipo_categoria.id == 4 %}
                            {{ item.m_quadrado_unitario }} M2
                        {% else %}
                            {{ item.item.quantidade }} PC
                        {% endif %}
                    </td>
                    <td class="pdf-text-end">R$ {{ item.preco_unitario_formatado }}</td>
                    <td class="pdf-text-end">R$ {{ item.preco_total_formatado }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="pdf-row">
    <div class="totais">
        <table class="tabela">
            <tr>
                <td><strong>Subtotal:</strong></td>
                <td class="pdf-text-end">R$ {{ sub_total }}</td>
            </tr>
            <tr>
                <td><strong>IPI:</strong></td>
                <td class="pdf-text-end">R$ {{ total_ipi }}</td>
            </tr>
            <tr>
                <td><strong>ICMS ST:</strong></td>
                <td class="pdf-text-end">0,00</td>
            </tr>
            <tr>
                <td><strong>Total:</strong></td>
                <td class="pdf-text-end">R$ {{ total_nota }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="pdf-row">
    <div class="pdf-col">
        <h5 class=""><strong>Vencimentos </strong>{{ order.prazo }}</h5>
        <table class="tabela">
            <tr>
                <td><strong>Parcela:</strong></td>
                <td>{{ order.prazo.parcelas }}</td>
            </tr>
            <tr>
                <td><strong>Vencimento</strong></td>
                <td>{{ order.dt_previsao_faturamento|date:"SHORT_DATE_FORMAT" }}</td>
            </tr>
            <tr>
                <td><strong>Valor:</strong></td>
                <td>2.010,97</td>
            </tr>
        </table>
    </div>
    <div class="pdf-col">
    </div>
</div>

<div class="pdf-row other-info">
    <div class="pdf-col pdf-mt-2">
        <h5><strong>Outras Informações</strong></h5>
        <span class="pdf-d-block"><strong>Pedido e Separação - incluído em:</strong> {{ order.dt_criacao }}</span>
        <span class="pdf-d-block"><strong>Previsão de Faturamento:</strong> 27/3/2025</span>
        <span class="pdf-d-block"><strong>Vendedor:</strong> {{ order.vendedor.nome }}</span>
        <span class="pdf-d-block"><strong>Nº do Pedido do Cliente:</strong> {{ order.pedido_interno_cliente|default_if_none:"" }}</span>
    </div>
</div>

<div class="pdf-row pdf-mt-2">
    <h5><strong>Transportador</strong></h5>
    <table class="transp-info">
        <thead>
            <tr>
                <th>Transportadora</th>
                <th>Telefone</th>
                <th>Frete por Conta</th>
                <th>Placa do Veículo</th>
                <th>UF</th>
                <th>Código ANTT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ transportadora.nome }}</td>
                <td>(19) 3233-2232</td>
                <td>{{ order.tipo_frete.tipo_frete }}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pdf-row pdf-mt-1">
    <p class="info-bottom"><strong>INFORMAÇÕES IMPORTANTES:</strong></p>
    <ul class="footer-info">
        <li>Prazo de atendimento: 72 horas</li>
        <li>As informações constantes nesta proposta comercial serão utilizadas para a emissão da NF-e e boletos, não sendo possível o cancelamento por qualquer divergência que não tenha sido apontada previamente pelo cliente.</li>
        <li>A espdf-colha da transportadora fica a critério do comprador, desde que a mesma atenda a cidade de origem do material e não nos responsabilizamos pelo prazo de entrega das mesmas.</li>
    </ul>
</div>

<div class="pdf-row pdf-mt-1">
    <p class="pdf-text-center"><em>Gerado em {% now "DATETIME_FORMAT" %} por {{ order.vendedor.nome }}</em></p>
</div>
