{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/order_picking_resume.css' %}">
{% endblock extra_css %}



{% block title %} Pedido e Separação {% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{% url 'update_order' order.pk %}" class='btn btn-danger btn-lg' id="button-back">
                    <i class="bi bi-backspace space_from_margin"></i>
                    Voltar
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="logo_pdf" src="{% static '/img/alternativa_logo_white_bkg.png' %}">
                <h5 class="order-separation"><strong>Pedido e Separação Nº {{ order.pk }}</strong></h5>
            </div>
            <div class="col">
                <h5 class="text-end"><strong>ALTERNATIVA PRE IMPRESSAO LTDA</strong></h5>
                <section class="text-end alternativa-section">
                    <span class="d-block">CNPJ: 30.323.170/0001-78</span>
                    <span class="d-block">Inscrição Estadual: 708148927119</span>
                    <span class="d-block">Endereço: R JOAQUIM DA SILVA MOREIRA, 116, JARDIM PINHEIROS</span>
                    <span class="d-block">Valinhos - SP - CEP: 13274-310</span>
                    <span class="d-block">Telefone: (19) 3244-5006</span>
                </section>
            </div>
        </div>
        <div class="row">
            <h5 class="client-info"><strong>Informações do Cliente</strong></h5>
            <h6>{{ client.nome_fantasia }}</h6>
        </div>
        <div class="row">
            <div class="col">
                <section class="text-start client-section">
                    <span class="d-block">CNPJ: {{ cnpj }}</span>
                    <span class="d-block">Inscrição Estadual: {{ client.inscricao_estadual }}</span>
                    <span class="d-block">
                        <strong>Telefone: {{ client.ddd }} {{ client.telefone }}</strong>
                    </span>
                </section>
            </div>
            <div class="col">
                <section class="text-start client-section">
                    <span class="d-block">{{ client.endereco }}, {{ client.numero }} - {{ client.bairro }}</span>
                    <span class="d-block">{{ client.cidade}} - {{ client.estado}} - CEP: {{ client.cep }}</span>
                    <span class="d-block">
                        <strong>E-mail: {{ client.email }}</strong>
                    </span>
                </section>
            </div>
        </div>

        <div class="row">
            <h5 class=""><strong>Itens do(a) Pedido e Separação</strong></h5>
            <table class="table-sm table-bordered tabela ">
                <thead class="table-head">
                    <tr>
                        <th>Código Produto</th>
                        <th>Descrição</th>
                        <th class="text-end">Quantidade</th>
                        <th class="text-end">Unitário</th>
                        <th class="text-end">Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_itens %}
                        <tr>
                            <td>{{ item.item.pk }}</td>
                            <td>{{ item.item.produto.nome_produto }} - {{ item.item.obs }}</td>
                            <td class="text-end">
                                {% if item.item.produto.tipo_categoria.id == 3 or item.item.produto.tipo_categoria.id == 4 %}
                                    {{ item.m_quadrado_unitario }} M2
                                {% else %}
                                    {{ item.item.quantidade }} PC
                                {% endif %}
                            </td>
                            <td class="text-end">R$ {{ item.preco_unitario|floatformat:2 }}</td>
                            <td class="text-end">R$ {{ item.preco_total|floatformat:2 }}</td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="row">
            <div class="totais">
                <table class="table-sm table-bordered tabela">
                    <tr>
                        <td class="total_strong_width"><strong>Subtotal:</strong> </td>
                        <td class="total_value_width">1.832,32</td>
                    </tr>
                    <tr>
                        <td class="total_strong_width"><strong>IPI:</strong></td>
                        <td class="total_value_width">178,65</td>
                    </tr>
                    <tr>
                        <td class="total_strong_width"><strong>ICMS ST:</strong></td>
                        <td class="total_value_width">0,00</td>
                    </tr>
                    <tr>
                        <td class="total_strong_width"><strong>Total:</strong></td>
                        <td class="total_value_width">{{ total_geral|floatformat:2 }}</td>
                    </tr>

                </table>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h5 class=""><strong>Vencimentos </strong>{{ order.prazo }}</h5>
                <table class="table-sm table-bordered tabela">
                    <tr>
                        <td><strong>Parcela:</strong></td>
                        <td>{{ order.prazo.parcelas }}</td>
                    </tr>
                    <tr>
                        <td><strong>Vencimento</strong></td>
                        <td>{{ order.dt_previsao_faturamento|date:"SHORT_DATE_FORMAT" }}</td>
                    </tr>
                    <tr>
                        <td><strong>Valor:</strong></td>
                        <td>2.010,97</td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center"><strong>Consulta Crédito:</strong></h3>
                    </div>
                </div>
                <div class="row col">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">Vencimento</th>
                                <th scope="col">Valor Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>ATRASADO</strong></td>
                                <td>R$ {{ financial_data.ATRASADO|floatformat:2|default:"0,00" }}</td>
                            </tr>
                            <tr>
                                <td><strong>VENCE HOJE</strong></td>
                                <td>R$ {{ financial_data.VENCE_HOJE|floatformat:2|default:"0,00" }}</td>
                            </tr>
                            <tr>
                                <td><strong>A VENCER</strong></td>
                                <td>R$ {{ financial_data.A_VENCER|floatformat:2|default:"0,00" }}</td>
                            </tr>
                            <tr>
                                <td><strong>TOTAL A RECEBER</strong></td>
                                <td>R$ {{ financial_data.TOTAL_A_RECEBER|floatformat:2|default:"0,00" }}</td>
                            </tr>
                            <tr>
                                <td><strong>LIMITE CREDITO</strong></td>
                                <td>R$ {{ financial_data.LIMITE_CREDITO|floatformat:2|default:"0,00" }}</td>
                            </tr>
                            <tr
                                {% if financial_data.LIMITE_DISPONIVEL < 0 %} class="table-red" {% endif %}
                            >
                                <td><strong>LIMITE DISPONÍVEL</strong></td>
                                <td>R$ {{ financial_data.LIMITE_DISPONIVEL|floatformat:2|default:"0,00" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row other-info">
            <div class="col mt-4">
                <h5><strong>Outras Informações</strong></h5>
                <span class="d-block"><strong>Pedido e Separação - incluido em: </strong>{{ order.dt_criacao }}</span>
                <span class="d-block"><strong>Previsão de Faturamento: </strong>27/3/2025</span>
                <span class="d-block"><strong>Vendedor: </strong>{{ order.vendedor.nome }}</span>
                <span class="d-block"><strong>N do Pedido do Cliente: </strong>{{ order.pedido_interno_cliente|default_if_none:"" }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col mt-3">
                <p class="info-bottom">INFORMAÇÕES IMPORTANTES:</p>
                <ul class="footer-info">
                    <li>Prazo de atendimento: 72 horas</li>
                    <li>As informações constantes nesta proposta comercial serão utilizadas
                        para a emissão da NF-e e boletos, não sendo possível o cancelamento por qualquer divergência que
                        não tenha sido apontada previamente pelo cliente.</li>
                    <li>A escolha da transportadora fica a critério do comprador, desde que a mesma atenda a cidade de origem do material e não nos responsabilizamos
                        pelo prazo de entrega das mesmas.</li>

                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <h5><strong>Transportador</strong></h5>
            <table class="table-sm table-bordered transp-info text-center">
                <thead>
                    <tr>
                        <th>Transportadora</th>
                        <th>Telefone</th>
                        <th>Frete por Conta</th>
                        <th>Placa do Veículo</th>
                        <th>UF</th>
                        <th>Código ANTT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ transportadora.nome }}</td>
                        <td>(19) 3233-2232</td>
                        <td>{{ order.tipo_frete.tipo_frete }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row mt-4">
            <p class="text-center"><em>Gerado em {{ order.dt_criacao }} por {{ order.seller }}</em></p>
        </div>
    </div>
{% endblock %}