{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Adicionar Sub-Categoria{% endblock %}
{% block content %}
<div id="page-wrapper">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-body-secondary text-center mb-3">Sub-Categorias</h1>
            <div class="card">
                <div class="card-header">
                    Adicionar Nova Sub-Categoria
                </div>
                <div class='btn-group top-buttons space_from_margin center_content' role="group" aria-label="Grupo de botões">
                    <form method="POST">
                      {% csrf_token %}
                      {% crispy form %}
                    </form>
                </div>

                {% comment %} <div class="container-fluid ">
                  <div class="row space_padding_botton">
                      <div class="col-auto">
                        <button type="button" class="btn btn-danger" onclick="goBack()">
                          <i class="bi bi-x-lg"></i>
                          Cancelar
                        </button>
                      </div>
                    </div>
                </div> {% endcomment %}

            </div>
          </div>
        </div>
    </div>
</div>
{% endblock  %}