{% load static %}

<div class="table-responsive border-secondary">
  <table class="table table-hover table-bordered border-secondary-subtle">
      <thead>
          <tr>
              <th>Nome</th>
              <th>Descrição</th>
              <th class="action_size_column">Ações</th>
          </tr>
      </thead>
      <tbody>
          {% for sub_cat in itens_sub_categoria %}
            <tr>
              <td>{{ sub_cat.nome }}</td>
              <td>{{ sub_cat.descricao }}</td>
              <td class="action_size_column">
                <div class="btn-group mx-auto" role="group" aria-label="Basic mixed styles example">
                  <button type="button" class="btn btn-warning btn-edit" data-sub-categoria-id="{{ sub_cat.id }}">
                    <i class="bi bi-pencil-square"></i>
                    Editar
                  </button>
                  <button type="button" class="btn btn-danger btn-delete" data-sub-categoria-id="{{ sub_cat.id }}">
                    <i class="bi bi-trash3"></i>
                    Apagar
                  </button>
                </div>
              </td>
            </tr>
          {% endfor %}
      </tbody>
  </table>
</div>