{% load static %}
        <div class="card-header">
            Lotes cadastrados
        </div>
        <div class='btn-group top-buttons space_from_margin' role="group" aria-label="Grupo de botões">
            <a href="{% url 'add_lote' %}" class="btn btn-outline-primary">
                <i class="bi bi-plus-lg"></i>
                Adicionar Novo Lote
            </a>
        </div>
        <div class="space_from_margin">       
            {% include "lote/lista_lote.html" %}
        </div>
        