{% extends "base.html" %}
{% load static %}

{% block title %}Visualizar Lote{% endblock %}

{% block content %}


<div class="container mt-5">
    <h1 class="text-body-secondary text-center mb-3">Visualização de Dados</h1>
    <div class="card">
        <div class="card-header">
            Dados da Lote
        </div>
        <div class="card-body text-center">
            <div class="row mb-2">
                <div class="col-sm-5"><strong>Código:</strong></div>
                <div class="col-sm-7">{{ object.codigo }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-5"><strong>Pedido:</strong></div>
                <div class="col-sm-7">{{ object.pedido }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-5"><strong>Cliente:</strong></div>
                <div class="col-sm-7"> {{ object.cliente }} </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-5"><strong>Data de Recebimento:</strong></div>
                <div class="col-sm-7">{{ object.data_recebimento }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-5"><strong>Tipo:</strong></div>
                <div class="col-sm-7">{{ object.tipo }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-5"><strong>N° Container:</strong></div>
                <div class="col-sm-7">{{ object.container }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-5"><strong>Volume:</strong></div>
                <div class="col-sm-7">{{ object.volume }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-5"><strong>Pallet:</strong></div>
                <div class="col-sm-7">{{ object.pallet }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-5"><strong>Peso:</strong></div>
                <div class="col-sm-7">{{ object.peso }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-5"><strong>Nota Fiscal:</strong></div>
                <div class="col-sm-7">{{ object.nf }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-5"><strong>Observações:</strong></div>
                <div class="col-sm-7">{{ object.obs }}</div>
            </div>
            <a href="{% url 'lote' %}" class="btn btn-secondary">Cancelar</a>
        </div>
</div>

{% endblock content %}