<div class="row">
    <div class="col-12">
        <table class="table table-responsive table-striped table-hover mt-3 text-center table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Contato</th>
                    <th>Departamento</th>
                    <th>Unidade</th>
                    {% comment %} <th>Ações</th> {% endcomment %}
                </tr>
            </thead>

            <tbody class="table-group-divider">
                {% for usuario in itens_usuario %}
                  <tr>
                    <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.contato }}</td>
                    <td>{{ usuario.departamento }}</td>
                    <td>{{ usuario.unidade }}</td>
                    <td class="action_size_column hide_elements">
                      <div class="btn-group center_content " role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-warning btn-edit"  data-categoria-id="{{ cat.id }}">
                          <i class="bi bi-pencil-square"></i>
                          Editar
                        </button>
                        <button type="button" class="btn btn-danger btn-delete" data-categoria-id="{{ cat.id }}">
                          <i class="bi bi-trash3"></i>
                          Apagar
                        </button>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>

        </table>
    </div>
</div>
</section>




