{% comment %} <!-- templates/partials/_form_item.html -->
<div class="row form-row">
    <div class="form-group col-4">
        <label for="id_form-__prefix__-produto">Produto</label>
        <select name="form-__prefix__-produto" class="form-control" id="id_form-__prefix__-produto">
        <!-- Options aqui -->
        </select>
    </div>
    <div class="form-group col-2">
        <label for="id_form-__prefix__-quantidade">Quantidade</label>
        <input type="number" name="form-__prefix__-quantidade" class="form-control" id="id_form-__prefix__-quantidade">
    </div>
    <div class="form-group col-2">
        <label for="id_form-__prefix__-valor_unitario_custo">Valor Unitário</label>
        <input type="text" name="form-__prefix__-valor_unitario_custo" class="form-control" id="id_form-__prefix__-valor_unitario_custo">
    </div>
    <div class="form-group col-2">
        <label for="id_form-__prefix__-lote">Lote</label>
        <input type="text" name="form-__prefix__-lote" class="form-control" id="id_form-__prefix__-lote">
    </div>
    <div class="form-group col-2">
        <a href="#" class="btn btn-danger btn-lg btn-plus remove-form-btn">
            <i class="bi bi-trash"></i>
        </a>
    </div>
</div> {% endcomment %}
