{% load static %}
<aside id="sidebar">
    <div class="h-100">
        <div class="sidebar-logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/logo.png' %}" id="sidebar-logo" class="img-fluid" alt="">
            </a>
        </div>
        <!-- Sidebar Navigation -->
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Menu
            </li>
            <li class="sidebar-item">
                <a href="{% url 'order_list' %}" class="sidebar-link">
                    <i class="bi bi-cart3"></i>
                    Pedidos
                </a>
            </li>
           <!--*************** Cadastros ***************-->
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#cadastros"
                    aria-expanded="false" aria-controls="cadastros" data-menu="cadastros">
                    <i class="bi bi-sliders"></i>
                    Cadastros
                </a>
                <ul id="cadastros" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

                    <li class="sidebar-item">
                        <a href="{% url 'category' %}" class="sidebar-link sub-item">
                            <i class="bi bi-tag"></i>
                            Categoria
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link sub-item">
                            <i class="bi bi-award"></i>
                            Certificado
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="{% url 'customer_supplier' %}" class="sidebar-link sub-item">
                            <i class="bi bi-people"></i>
                            Cliente/Fornecedor
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="{% url 'coordinate' %}" class="sidebar-link sub-item">
                            <i class="bi bi-bookshelf"></i>
                            Conf. Coordenadas
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="{% url 'price' %}" class="sidebar-link sub-item">
                            <i class="bi bi-currency-dollar"></i>
                            Preço
                        </a>
                    </li>

                    <li class="sidebar-item ">
                        <a href="{% url 'product' %}" class="sidebar-link sub-item">
                            <i class="bi bi-basket2"></i>
                            Produto
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="{% url 'lead_time' %}" class="sidebar-link sub-item">
                            <i class="bi bi-calendar-range"></i>
                            Prazo
                        </a>
                    </li>

                    {% comment %} <li class="sidebar-item">
                        <a href="{% url 'tipo_frete' %}" class="sidebar-link sub-item">
                            <i class="bi bi-box-arrow-up-right"></i>
                            Tipo Frete
                        </a>
                    </li> {% endcomment %}
                    <li class="sidebar-item">
                        <a href="{% url 'carrier' %}" class="sidebar-link sub-item">
                            <i class="bi bi-truck"></i>
                            Transportadora
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="{% url 'location' %}" class="sidebar-link sub-item">
                            <i class="bi bi-buildings"></i>
                            Unidade
                        </a>
                    </li>
                </ul>
            </li>
            <!--*************** Estoque ***************-->
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#estoque"
                aria-expanded="false" aria-controls="estoque" id="estoqueLink" data-menu="estoque">
                    <i class="bi bi-box-seam"></i>
                    Estoque
                </a>
                <ul id="estoque" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#estoque">

                    <li class="sidebar-item">
                        <a href="{% url 'inventory' %}" class="sidebar-link sub-item">
                            <i class="bi bi-boxes"></i>
                            Listar Estoque
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link sub-item">
                            <i class="bi bi-bookshelf"></i>
                            Coordenadas de Estoque
                        </a>
                    </li>

                </ul>
            </li>

            <!--*************** Vendedores ***************-->
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#vendedores"
                    aria-expanded="false" aria-controls="vendedores" id="vendedoresLink" data-menu="vendedores">
                    <i class="bi bi-person-vcard"></i>
                    Vendedores
                </a>
                <ul id="vendedores" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'seller' %}" class="sidebar-link sub-item">
                            <i class="bi bi-list-task"></i>
                            Listar
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'add_seller' %}" class="sidebar-link sub-item">
                            <i class="bi bi-person-plus"></i>
                            Novo
                        </a>
                    </li>
                </ul>


            <!--*************** Dashboard ***************-->
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard"
                    aria-expanded="false" aria-controls="dashboard" id="dashboardLink" data-menu="dashboard">
                    <i class="bi bi-bar-chart-line"></i>
                    Dashboard
                </a>
                <ul id="dashboard" class="sidebar-dropdown list-unstyled collapse hide_elements" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Dashboard Analytics</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Dashboard Ecommerce</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#user"
                    aria-expanded="false" aria-controls="user" id="usuarioLink" data-menu="user">
                    <i class="bi bi-person"></i>
                    Usuários
                </a>
                <ul id="user" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'users' %}" class="sidebar-link sub-item">
                            <i class="bi bi-person-lines-fill"></i>
                            Listar
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'admin:accounts_customusuario_changelist' %}" class="sidebar-link sub-item" target="_blank">
                            <i class="bi bi-person-add"></i>
                            Novo...
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link sub-item">
                            <i class="bi bi-person-gear"></i>
                            Alterar
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item ">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#faturamento"
                    aria-expanded="false" aria-controls="multi">
                    <i class="bi bi-currency-exchange"></i>
                    Faturamento
                </a>
                <ul id="faturamento" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link sub-item">
                            <i class="bi bi-person-lines-fill"></i>
                            1
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link sub-item" target="_blank">
                            <i class="bi bi-cash-coin"></i>
                            2
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>