{% load static %}

    <div class="card-header">
        Preços cadastrados
    </div>
    <div class='btn-group top-buttons space_from_margin' role="group" aria-label="Grupo de botões">
        <a href="{% url 'select_client' %}" class="btn btn-outline-primary">
            <i class="bi bi-plus-lg"></i>
            Adicionar Novo Preço
        </a>
        <a href="{% url 'import_price' %}" class="btn btn-outline-success">
            <i class="bi-box-arrow-in-left"></i>
            Importar de Planilha Excel
        </a>
    </div>
    <div class="space_from_margin">
        {% include "preco/lista_preco.html" %}
    </div>
