{% load static %}

<form method="get" action="" class="row g-3 justify-content-center" autocomplete=off>
  <div class="col-6">
    <input type="text" class="form-control"
      data-toggle="tooltip" data-placement="top"
      data-bs-title="Para CNPJ digite apenas números"
      name="search"
      placeholder="Buscar por nome..."
      value="{{ request.GET.search }}"
    >
  </div>
  <div class="col-auto">
    <button class="btn btn-info" type="submit">Buscar</button>
  </div>

</form>

<div class="table-responsive border-secondary">
  <table class="table table-hover table-bordered border-secondary-subtle">
    {% if itens_preco %}
      <thead>
          <tr>
              <th>Nome</th>
              <th>Cliente</th>
              <th>Valor</th>
              <th>É em Dólar?</th>
              <th>Prazo</th>
              <th class="action_size_column">Ações</th>
          </tr>
      </thead>
      <tbody class="table-group-divider">

        {% for preco in itens_preco %}
          <tr>
            <td>{{ preco.produto }}</td>
            <td>{{ preco.cliente }}</td>
            <td>
              {% if preco.is_dolar == 0 %}R$ {% else %}$ {% endif %}
              {{ preco.valor }}
            </td>
            <td>{{ preco.is_dolar|yesno:"Sim, Não" }}</td>
            <td>{{ preco.prazo }}</td>
            <td class="action_size_column">
              <div class="btn-group center_content " role="group" aria-label="Basic mixed styles example">
                <!-- Editar -->
                <a class="btn btn-warning btn-edit" href="{% url 'update_price' preco.id preco.produto.tipo_categoria.id %}" role="button">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <!-- Apagar -->
                <a class="btn btn-danger btn-delete" href="{% url 'delete_price' preco.id %}" role="button">
                  <i class="bi bi-trash3"></i>
                </a>
              </div>
            </td>
          </tr>
        {% endfor %}

      </tbody>
    {% else %}
        <p class="no-results">Nenhum item encontrado...</p>
    {% endif %}
  </table>
</div>