{% load static %}

<form method="get" action="" class="row g-3 justify-content-center" autocomplete=off>
  <div class="col-6">
    <input type="text" class="form-control"
      data-toggle="tooltip" data-placement="top"
      data-bs-title="Informe o nome do vendedor"
      name="search"
      placeholder="Buscar por nome..."
      value="{{ request.GET.search }}"
    >
  </div>
  <div class="col-auto">
    <button class="btn btn-info" type="submit">Buscar</button>
  </div>

</form>

<div class="table-responsive border-secondary">
  <table class="table table-hover table-bordered border-secondary-subtle text-center">
    {% if sellers %}
      <thead>
          <tr>
              <th>Nome</th>
              <th>Representante</th>
              <th>cod_COM</th>
              <th>cod_IND</th>
              <th>cod_PRE</th>
              <th>cod_MRX</th>
              <th>cod_SRV</th>
              <th>cod_FLX</th>
              <th class="action_size_column">Ações</th>
          </tr>
      </thead>
      <tbody class="table-group-divider">

        {% for seller in sellers %}
          {% if seller.ativo %}
            <tr>
              <td>{{ seller.nome }}</td>
              <td>{{ seller.representante|yesno:"Sim, Não" }}</td>
              <td>{{ seller.cod_omie_com|default_if_none:"" }}</td>
              <td>{{ seller.cod_omie_ind|default_if_none:"" }}</td>
              <td>{{ seller.cod_omie_pre|default_if_none:"" }}</td>
              <td>{{ seller.cod_omie_mrx|default_if_none:"" }}</td>
              <td>{{ seller.cod_omie_srv|default_if_none:"" }}</td>
              <td>{{ seller.cod_omie_flx|default_if_none:"" }}</td>
              <td class="action_size_column">
                <div class="btn-group center_content " role="group" aria-label="Basic mixed styles example">
                  <!-- Visualizar -->
                  <a href="{% url 'detail_seller' seller.pk %}" class="btn btn-secondary btn-view">
                    <i class="bi bi-eye"></i>
                  </a>
                  <!-- Editar -->
                  <a class="btn btn-warning btn-edit" href="{% url 'update_seller' seller.pk %}" role="button">
                    <i class="bi bi-pencil-square"></i>
                  </a>
                  <!-- Apagar -->
                  <a class="btn btn-danger btn-delete" href="{% url 'delete_seller' seller.pk %}" role="button">
                    <i class="bi bi-trash3"></i>
                  </a>
                </div>
              </td>
            </tr>

          {% endif %}
        {% endfor %}

      </tbody>
    {% else %}
        <p class="no-results">Nenhum item encontrado...</p>
    {% endif %}
  </table>
  {% include 'paginacao.html' %}
</div>