{% load static %}
        <div class="card-header">
            Coordenadas cadastradas
        </div>
        <div class='btn-group top-buttons space_from_margin' role="group" aria-label="Grupo de botões">
            <a href="{% url 'add_coordinate' %}" class="btn btn-outline-primary">
                <i class="bi bi-plus-lg"></i>
                Adicionar Coordenada
            </a>
        </div>
        <div class="space_from_margin">
            {% include "conf_coordenada/lista_coordenada.html" %}
        </div>
