{% load static %}

<div id="page-wrapper">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-body-secondary text-center mb-3">Estoque de produtos</h1>
            <div class="card">
                <div class="card-header">
                    Itens cadastrados
                </div>
                <div class='btn-group top-buttons space_from_margin' role="group" aria-label="Grupo de botões">
                    <a class="btn btn-outline-primary">
                        <i class="bi bi-plus-lg"></i>
                        Adicionar novo item
                    </a>
                    <a href="#" class="btn btn-outline-warning" role="button">
                        <i class="bi bi-box-arrow-in-down-left"></i>
                        Importar planilha de Jumbo
                    </a>
                    <a class="btn btn-outline-success">
                        <i class="bi bi-box-arrow-up-right"></i>
                        Exportar base para Excel
                    </a>
                </div>

                {% comment %} Filtros {% endcomment %}
                {% include "estoque/filtros.html" %}
                {% comment %} Fim Filtros {% endcomment %}

                {% comment %} Botões de ações {% endcomment %}
                <div class="card">
                    <div class="row">
                        <div class="col-lg-2 d-grid gap-2">
                            <button type="button" class="btn btn-secondary btn-actions">
                                <i class="bi bi-clipboard"></i>
                                Copiar
                            </button>
                        </div>
                        <div class="col-lg-2 d-grid gap-2">
                            <button type="button" class="btn btn-secondary btn-actions">
                                <i class="bi bi-printer"></i>
                                Imprimir
                            </button>
                        </div>
                        <div class="col-lg-2 d-grid gap-2">
                            <button type="button" class="btn btn-secondary btn-actions">
                                <i class="bi bi-file-earmark-excel"></i>
                                Exportar Excel
                            </button>
                        </div>
                        <div class="col-lg-2 d-grid gap-2">
                            <button type="button" class="btn btn-secondary btn-actions">
                                <i class="bi bi-check2-square"></i>
                                Selecionar Colunas
                            </button>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group ">
                                <input type="text" class="form-control btn-actions" id="busca_resultados" value="" placeholder="Procurar nos resultados">
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} Fim Botões de ações {% endcomment %}

                {% comment %} Lista items estoque {% endcomment %}
                {% include "estoque/lista_estoque.html" %}
                {% comment %} Fim Lista Itens estoque{% endcomment %}
            </div>
          </div>
        </div>
    </div>
</div>