/* Desabilita o clique  */
.disable_click {
  pointer-events: none;
}

/* Ocultar Elementos */
.hide_elements {
  display: none;
}

/* Divisor vertical */
.dividor-vertical {
  border-left: 1px solid #ccc;
  height: auto;
}